{"swagger":"2.0","info":{"title":"AfricasTalking API","description":"HTTP service for interacting with all AfricasTalking API.","termsOfService":"https://github.com/wondenge/atgo/blob/master/LICENSE","contact":{"name":"William Ondenge","email":"ondengew@gmail.com","url":"https://www.ondenge.me"},"license":{"name":"Apache License","url":"https://github.com/wondenge/atgo/blob/master/LICENSE"},"version":"1.0"},"host":"api.sandbox.africastalking.com","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/auth-token/generate":{"post":{"tags":["africastalking"],"summary":"Generate africastalking","description":"Generates a valid auth token","operationId":"africastalking#Generate","produces":["application/json"],"parameters":[{"name":"GenerateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingGenerateRequestBody","required":["username","apiKey"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingGenerateResponseBody"}}},"schemes":["https"]}},"/bank/checkout/charge":{"post":{"tags":["africastalking"],"summary":"Bank Checkout africastalking","description":"Collect money into your payment wallet.","operationId":"africastalking#Bank Checkout","produces":["application/json"],"parameters":[{"name":"Bank CheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutRequestBody","required":["username","productName","bankAccount","currencyCode","amount","narration"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutResponseBody"}}},"schemes":["https"]}},"/bank/checkout/validate":{"post":{"tags":["africastalking"],"summary":"BankCheckoutValidate africastalking","description":"Validate a bank checkout charge request","operationId":"africastalking#BankCheckoutValidate","produces":["application/json"],"parameters":[{"name":"BankCheckoutValidateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutValidateRequestBody","required":["username","transactionId","otp"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutValidateResponseBody"}}},"schemes":["https"]}},"/bank/transfer":{"post":{"tags":["africastalking"],"summary":"BankTransfer africastalking","description":"Initiate a bank transfer request.","operationId":"africastalking#BankTransfer","produces":["application/json"],"parameters":[{"name":"BankTransferRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankTransferRequestBody","required":["username","productName","recipients"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankTransferResponseBody"}}},"schemes":["https"]}},"/call":{"post":{"tags":["africastalking"],"summary":"MakeCall africastalking","description":"Makes outbound calls.","operationId":"africastalking#MakeCall","produces":["application/xml"],"parameters":[{"name":"MakeCallRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMakeCallRequestBody","required":["username","from","to"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingMakeCallResponseBody"}}},"schemes":["https"]}},"/callTransfer":{"post":{"tags":["africastalking"],"summary":"Reject africastalking","description":"Reject an incoming call without incurring any usage charges.","operationId":"africastalking#Reject","parameters":[{"name":"RejectRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingRejectRequestBody"}}],"responses":{"200":{"description":"OK response.","schema":{"type":"string"}}},"schemes":["https"]}},"/card/checkout/charge":{"post":{"tags":["africastalking"],"summary":"CardCheckout africastalking","description":"Collect money into your Payment Wallet","operationId":"africastalking#CardCheckout","produces":["application/json"],"parameters":[{"name":"CardCheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutRequestBody","required":["username","productName","currencyCode","amount","narration"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutResponseBody"}}},"schemes":["https"]}},"/card/checkout/validate":{"post":{"tags":["africastalking"],"summary":"CardCheckoutValidate africastalking","description":"Validate card checkout charge requests","operationId":"africastalking#CardCheckoutValidate","produces":["application/json"],"parameters":[{"name":"CardCheckoutValidateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutValidateRequestBody","required":["username","transactionId","otp"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutValidateResponseBody"}}},"schemes":["https"]}},"/checkout/token/create":{"post":{"tags":["africastalking"],"summary":"NewCheckoutToken africastalking","description":"Generate a checkout token","operationId":"africastalking#NewCheckoutToken","produces":["application/json"],"parameters":[{"name":"NewCheckoutTokenRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingNewCheckoutTokenRequestBody","required":["phoneNumber"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingNewCheckoutTokenResponseBody"}}},"schemes":["https"]}},"/data/publish":{"post":{"tags":["africastalking"],"summary":"PublishIoT africastalking","description":"Publishes messages to remote devices.","operationId":"africastalking#PublishIoT","produces":["application/json"],"parameters":[{"name":"PublishIoTRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingPublishIoTRequestBody","required":["username","deviceGroup","topic","payload"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingPublishIoTResponseBody"}}},"schemes":["https"]}},"/mediaUpload":{"post":{"tags":["africastalking"],"summary":"UploadMedia africastalking","description":"Uploads media or audio files to Africa'sTalking servers with the extension .mp3 or .wav","operationId":"africastalking#UploadMedia","parameters":[{"name":"UploadMediaRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingUploadMediaRequestBody"}}],"responses":{"201":{"description":"Created response.","schema":{"type":"string"}}},"schemes":["https"]}},"/mobile/b2b/request":{"post":{"tags":["africastalking"],"summary":"MobileB2B africastalking","description":"Initiate Mobile B2B request","operationId":"africastalking#MobileB2B","produces":["application/json"],"parameters":[{"name":"MobileB2BRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileB2BRequestBody"}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileB2BResponseBody"}}},"schemes":["https"]}},"/mobile/b2c/request":{"post":{"tags":["africastalking"],"summary":"MobileB2C africastalking","description":"Initiate Mobile B2C request","operationId":"africastalking#MobileB2C","produces":["application/json"],"parameters":[{"name":"MobileB2CRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileB2CRequestBody","required":["username","productName","recipients"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileB2CResponseBody"}}},"schemes":["https"]}},"/mobile/checkout/request":{"post":{"tags":["africastalking"],"summary":"MobileCheckout africastalking","description":"Initiate Mobile C2B payments on a mobile subscriber’s device.","operationId":"africastalking#MobileCheckout","produces":["application/json"],"parameters":[{"name":"MobileCheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileCheckoutRequestBody","required":["username","productName","phoneNumber","currencyCode","amount"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileCheckoutResponseBody"}}},"schemes":["https"]}},"/queueStatus":{"post":{"tags":["africastalking"],"summary":"Queue africastalking","description":"Used when you have more calls than you can handle at one time","operationId":"africastalking#Queue","parameters":[{"name":"QueueRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingQueueRequestBody","required":["username","phoneNumbers"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingQueueResponseBody"}}},"schemes":["https"]}},"/topup/stash":{"post":{"tags":["africastalking"],"summary":"TopupStash africastalking","description":"Move money from a Payment Product to an application stash.","operationId":"africastalking#TopupStash","produces":["application/json"],"parameters":[{"name":"TopupStashRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingTopupStashRequestBody","required":["username","productName","currencyCode","amount","metadata"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingTopupStashResponseBody"}}},"schemes":["https"]}},"/transfer/wallet":{"post":{"tags":["africastalking"],"summary":"WalletTransfer africastalking","description":"Transfer money from one product to another.","operationId":"africastalking#WalletTransfer","produces":["application/json"],"parameters":[{"name":"WalletTransferRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingWalletTransferRequestBody","required":["username","productName","targetProductCode","currencyCode","amount","metadata"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingWalletTransferResponseBody"}}},"schemes":["https"]}},"/version1/airtime/send":{"post":{"tags":["africastalking"],"summary":"SendAirtime africastalking","description":"Send Airtime.","operationId":"africastalking#SendAirtime","produces":["application/json"],"parameters":[{"name":"SendAirtimeRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingSendAirtimeRequestBody","required":["username","recipients"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingSendAirtimeResponseBody"}}},"schemes":["https"]}},"/version1/messaging":{"post":{"tags":["africastalking"],"summary":"SendPremiumSMS africastalking","description":"Send Premium SMS","operationId":"africastalking#SendPremiumSMS","produces":["application/json"],"parameters":[{"name":"SendPremiumSMSRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingSendPremiumSMSRequestBody","required":["username","to","message"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingSendPremiumSMSResponseBody"}}},"schemes":["https"]}},"/version1/messaging?{username}\u0026{lastReceivedId}":{"get":{"tags":["africastalking"],"summary":"FetchSMS africastalking","description":"Incrementally fetch messages from application inbox.","operationId":"africastalking#FetchSMS","produces":["application/json"],"parameters":[{"name":"username","in":"query","description":"Africa’s Talking application username.","required":true,"type":"string","default":"sandbox"},{"name":"lastReceivedId","in":"query","description":"ID of the message last processed.","required":false,"type":"string","default":"0"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchSMSResponseBody"}}},"schemes":["https"]}},"/version1/subscription/create":{"post":{"tags":["africastalking"],"summary":"NewPremiumSubscription africastalking","description":"Subscribe a phone number","operationId":"africastalking#NewPremiumSubscription","produces":["application/json"],"parameters":[{"name":"NewPremiumSubscriptionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingNewPremiumSubscriptionRequestBody","required":["username","shortCode","keyword","phoneNumber","checkoutToken"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingNewPremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/subscription/delete":{"post":{"tags":["africastalking"],"summary":"PurgePremiumSubscription africastalking","description":"Delete a Premium SMS Subscription","operationId":"africastalking#PurgePremiumSubscription","produces":["application/json"],"parameters":[{"name":"PurgePremiumSubscriptionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingPurgePremiumSubscriptionRequestBody","required":["username","shortCode","keyword","phoneNumber"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingPurgePremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/subscription?username={username}\u0026shortCode={shortCode}\u0026keyword={keyword}\u0026lastReceivedId={lastReceivedId}":{"get":{"tags":["africastalking"],"summary":"FetchPremiumSubscription africastalking","description":"Incrementally fetch your premium sms subscriptions.","operationId":"africastalking#FetchPremiumSubscription","produces":["application/json"],"parameters":[{"name":"username","in":"query","description":"Africa’s Talking application username.","required":true,"type":"string","default":"sandbox"},{"name":"shortCode","in":"query","description":"Premium short code mapped to your account","required":true,"type":"string"},{"name":"keyword","in":"query","description":"Premium keyword under short code mapped to your account.","required":true,"type":"string"},{"name":"lastReceivedId","in":"query","description":"ID of the message last processed.","required":false,"type":"string","default":"0"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchPremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/user":{"get":{"tags":["africastalking"],"summary":"InitiateAppData africastalking","description":"Initiate an application data request.","operationId":"africastalking#InitiateAppData","produces":["application/json"],"parameters":[{"name":"string","in":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingInitiateAppDataResponseBody"}}},"schemes":["https"]}}},"definitions":{"AfricastalkingBankCheckoutRequestBody":{"title":"AfricastalkingBankCheckoutRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":0.9498693989893014,"format":"double"},"bankAccount":{"$ref":"#/definitions/BankAccountRequestBody"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"KES"},"metadata":{"type":"object","description":"A map of any metadata that you would like us to associate with the request.","example":{"Dolore ducimus autem incidunt aut.":"Officia velit asperiores.","Eos ratione itaque est nostrum.":"Asperiores praesentium.","Possimus quos laudantium.":"Voluptates rem iure quis minima."},"additionalProperties":true},"narration":{"type":"string","description":"Short description of the transaction displayed on the clients statement.","example":"Aut iure eveniet sit enim et."},"productName":{"type":"string","description":"Africa’s Talking Payment Product to initiate this transaction.","example":"Quaerat ut ut id inventore."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Ratione praesentium et repudiandae optio at officiis."}},"example":{"amount":0.8567594513909207,"bankAccount":{"accountName":"Sequi temporibus.","accountNumber":"Eum quibusdam maxime dolorum ad sit.","bankCode":8697003489270813697,"dateOfBirth":"2010-03-27"},"currencyCode":"KES","metadata":{"Eum est minima totam magnam mollitia.":"Aut ipsum.","Excepturi dolorem excepturi.":"Voluptatem quisquam ratione corrupti.","Reiciendis assumenda consequuntur.":"Est nam molestias laudantium quidem."},"narration":"Officiis aliquid error magni.","productName":"Sint reiciendis.","username":"Temporibus ut dolorem sed id dolorem aspernatur."},"required":["username","productName","bankAccount","currencyCode","amount","narration"]},"AfricastalkingBankCheckoutResponseBody":{"title":"Mediatype identifier: bankcheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Waiting for user input"},"status":{"type":"string","description":"This corresponds to the status of the request.","example":"PendingValidation","enum":["PendingConfirmation","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"Bank CheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"PendingValidation","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingBankCheckoutValidateRequestBody":{"title":"AfricastalkingBankCheckoutValidateRequestBody","type":"object","properties":{"otp":{"type":"string","description":"One Time Password bank sent to the client.","example":"Ad placeat odit."},"transactionId":{"type":"string","description":"The ID of the transaction to be validated.","example":"Ratione mollitia et."},"username":{"type":"string","description":"Africa’s Talking application Username.","example":"Et est."}},"example":{"otp":"Aut cum ex qui architecto non.","transactionId":"Voluptate neque quasi sunt sit et.","username":"Nostrum rerum id ex."},"required":["username","transactionId","otp"]},"AfricastalkingBankCheckoutValidateResponseBody":{"title":"Mediatype identifier: bankcheckoutvalidateresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Payment completed successfully"},"status":{"type":"string","description":"The final status of this request.","example":"Success","enum":["Success","Failed"]}},"description":"BankCheckoutValidateResponseBody result type (default view)","example":{"description":"Payment completed successfully","status":"Success"}},"AfricastalkingBankTransferRequestBody":{"title":"AfricastalkingBankTransferRequestBody","type":"object","properties":{"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"Repellendus incidunt natus maiores."},"recipients":{"type":"array","items":{"$ref":"#/definitions/TransferRecipientsRequestBody"},"description":"Transfer Recipients","example":[{"accountName":"Unde ea.","accountNumber":"Incidunt maxime libero sint.","amount":"Possimus vel.","bankAccount":"Dicta consequuntur.","bankCode":"Totam non iure officiis.","currencyCode":"Inventore consectetur mollitia eum.","dateOfBirth":"Et aut.","metadata":{"Quidem eaque debitis nam voluptas est ducimus.":"Nisi sint eum et id repudiandae."},"narration":"Quos et veniam."},{"accountName":"Unde ea.","accountNumber":"Incidunt maxime libero sint.","amount":"Possimus vel.","bankAccount":"Dicta consequuntur.","bankCode":"Totam non iure officiis.","currencyCode":"Inventore consectetur mollitia eum.","dateOfBirth":"Et aut.","metadata":{"Quidem eaque debitis nam voluptas est ducimus.":"Nisi sint eum et id repudiandae."},"narration":"Quos et veniam."}],"minItems":1},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Non harum alias omnis molestias voluptatem."}},"example":{"productName":"Numquam assumenda non et et.","recipients":[{"accountName":"Unde ea.","accountNumber":"Incidunt maxime libero sint.","amount":"Possimus vel.","bankAccount":"Dicta consequuntur.","bankCode":"Totam non iure officiis.","currencyCode":"Inventore consectetur mollitia eum.","dateOfBirth":"Et aut.","metadata":{"Quidem eaque debitis nam voluptas est ducimus.":"Nisi sint eum et id repudiandae."},"narration":"Quos et veniam."},{"accountName":"Unde ea.","accountNumber":"Incidunt maxime libero sint.","amount":"Possimus vel.","bankAccount":"Dicta consequuntur.","bankCode":"Totam non iure officiis.","currencyCode":"Inventore consectetur mollitia eum.","dateOfBirth":"Et aut.","metadata":{"Quidem eaque debitis nam voluptas est ducimus.":"Nisi sint eum et id repudiandae."},"narration":"Quos et veniam."}],"username":"Non nulla repellendus eius ut."},"required":["username","productName","recipients"]},"AfricastalkingBankTransferResponseBody":{"title":"Mediatype identifier: banktransferresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/TransferEntriesResponseBody"},"description":"Transfer Entries","example":[{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"}],"minItems":1},"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API.","example":"Insufficient Credit"}},"description":"BankTransferResponseBody result type (default view)","example":{"entries":[{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"}],"errorMessage":"Insufficient Credit"}},"AfricastalkingCardCheckoutRequestBody":{"title":"AfricastalkingCardCheckoutRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":0.22440250029447134,"format":"double"},"checkoutToken":{"type":"string","description":"Token generated by AfricasTalking","example":"Asperiores praesentium."},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"KES"},"metadata":{"type":"object","description":"Metadata associated with the request.","example":{"Est ut aut.":"Dolore quia similique laboriosam laboriosam.","Sed molestiae est.":"Expedita quidem eum quaerat.","Voluptatem ipsum.":"Suscipit molestiae et officiis culpa."},"additionalProperties":true},"narration":{"type":"string","description":"Short description of the transaction.","example":"Omnis dignissimos rerum perspiciatis qui."},"paymentCard":{"$ref":"#/definitions/PaymentCardRequestBody"},"productName":{"type":"string","description":"Africa’s Talking Payment Product initiating transaction.","example":"Enim corrupti incidunt."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Expedita cupiditate molestiae repellendus consequatur sequi."}},"example":{"amount":0.07008103586564671,"checkoutToken":"Tempora ea placeat blanditiis.","currencyCode":"KES","metadata":{"Doloremque animi tempora quibusdam necessitatibus voluptatem asperiores.":"Sed numquam doloremque."},"narration":"Eligendi qui.","paymentCard":{"authToken":"Doloribus fugiat eos distinctio.","countryCode":"NG","cvvNumber":7038034840975459000,"expiryMonth":8002608393396165428,"expiryYear":5166870202654348333,"number":"Sint consequatur quis praesentium sapiente."},"productName":"Ut nihil voluptatem.","username":"Impedit autem nulla sed laudantium nulla."},"required":["username","productName","currencyCode","amount","narration"]},"AfricastalkingCardCheckoutResponseBody":{"title":"Mediatype identifier: cardcheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Waiting for user input"},"status":{"type":"string","description":"The status of the request.","example":"PendingValidation","enum":["PendingConfirmation","Success","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID generated for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"CardCheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"PendingValidation","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingCardCheckoutValidateRequestBody":{"title":"AfricastalkingCardCheckoutValidateRequestBody","type":"object","properties":{"otp":{"type":"string","description":"One Time Password card provider sent to the client.","example":"Vitae quidem voluptatum unde."},"transactionId":{"type":"string","description":"ID of the transaction application wants to validate.","example":"Perspiciatis velit."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Dolorem adipisci et omnis."}},"example":{"otp":"Non reiciendis ut.","transactionId":"Magni eligendi tenetur.","username":"Tempore laborum neque et."},"required":["username","transactionId","otp"]},"AfricastalkingCardCheckoutValidateResponseBody":{"title":"Mediatype identifier: cardcheckoutvalidateresponse; view=default","type":"object","properties":{"checkoutToken":{"type":"string","description":"Token application can use to initiate subsequent charges.","example":"ATCdTkn_SampleCdTknId123"},"description":{"type":"string","description":"A detailed description of the request status.","example":"Payment completed successfully"},"status":{"type":"string","description":"Corresponds to the final status of this request.","example":"Success","enum":["Success","Failed"]}},"description":"CardCheckoutValidateResponseBody result type (default view)","example":{"checkoutToken":"ATCdTkn_SampleCdTknId123","description":"Payment completed successfully","status":"Success"}},"AfricastalkingDequeueRequestBody":{"title":"AfricastalkingDequeueRequestBody","type":"object","properties":{"name":{"type":"string","example":"Rem quis provident."},"phoneNumber":{"type":"string","example":"Animi enim."}},"example":{"name":"A qui quasi placeat nemo odio vero.","phoneNumber":"Ipsam eaque dolorum aliquam aut."}},"AfricastalkingDialRequestBody":{"title":"AfricastalkingDialRequestBody","type":"object","properties":{"callerId":{"type":"string","example":"Voluptatem et."},"maxDuration":{"type":"string","description":"This contains the maximum amount of time in seconds a call should take.","example":"Ut ut temporibus aliquam facilis magni nemo."},"phoneNumbers":{"type":"string","example":"Ipsa dolores dolorum voluptatem officiis et."},"record":{"type":"string","example":"Non quia sit sit voluptas assumenda."},"ringBackTone":{"type":"string","example":"Tenetur in quia molestias voluptatem ullam."},"sequential":{"type":"string","example":"Est voluptates ut ea."}},"example":{"callerId":"Commodi voluptas nihil non deserunt laudantium.","maxDuration":"A asperiores placeat.","phoneNumbers":"Eius cumque sed porro eos.","record":"Cumque quidem vitae iste qui fuga.","ringBackTone":"Consequuntur voluptas natus magni aperiam delectus.","sequential":"Harum eaque."},"required":["phoneNumbers"]},"AfricastalkingEnqueueRequestBody":{"title":"AfricastalkingEnqueueRequestBody","type":"object","properties":{"holdMusic":{"type":"string","example":"Sed porro aut non accusamus id."},"name":{"type":"string","example":"Praesentium quo architecto reiciendis expedita aut at."}},"example":{"holdMusic":"Reprehenderit in et nesciunt vero.","name":"Placeat accusamus ad."}},"AfricastalkingFetchPremiumSubscriptionResponseBody":{"title":"Mediatype identifier: fetchsubresponse; view=default","type":"object","properties":{"Subscriptions":{"type":"array","items":{"$ref":"#/definitions/SubscriptionsResponseBody"},"description":"A list of subscriptions made to the product.","example":[{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"},{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"}],"minItems":1}},"description":"FetchPremiumSubscriptionResponseBody result type (default view)","example":{"Subscriptions":[{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"}]}},"AfricastalkingFetchSMSResponseBody":{"title":"Mediatype identifier: fetchmsgresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/FetchSMSMessageDataResponseBody"}},"description":"FetchSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}]}}},"AfricastalkingGenerateRequestBody":{"title":"AfricastalkingGenerateRequestBody","type":"object","properties":{"apiKey":{"type":"string","description":"Africa's Talking API Key.","example":"Quas consequatur dolorem voluptatum animi."},"username":{"type":"string","description":"Africa's Talking Username.","default":"sandbox","example":"sandbox"}},"example":{"apiKey":"Voluptatum ea aut.","username":"sandbox"},"required":["username","apiKey"]},"AfricastalkingGenerateResponseBody":{"title":"Mediatype identifier: accesstokenresponse; view=default","type":"object","properties":{"lifetimeInSeconds":{"type":"integer","description":"Token Lifetime","example":3600,"format":"int64"},"token":{"type":"string","description":"Generated Auth Token.","example":"ATtkn_abcdefghijklmnopqrstuvwxyz"}},"description":"GenerateResponseBody result type (default view)","example":{"lifetimeInSeconds":3600,"token":"ATtkn_abcdefghijklmnopqrstuvwxyz"},"required":["token","lifetimeInSeconds"]},"AfricastalkingGetDigitsRequestBody":{"title":"AfricastalkingGetDigitsRequestBody","type":"object","properties":{"callbackUrl":{"type":"string","description":"Instructs AT to forward results of the GetDigits action to the URL value passed in. ","example":"Quis vel."},"finishOnKey":{"type":"string","description":"The key which will terminate the action of getting digits.","example":"Voluptatem quos reprehenderit voluptatem est."},"numDigits":{"type":"string","description":"This shows the number of digits you would like to grab from the user input.","example":"Quisquam sit quia debitis omnis quia."},"timeout":{"type":"string","description":"Timeout (in seconds) for getting the digits, after which the system moves on to the next element.","example":"Quod recusandae id doloremque perspiciatis."}},"example":{"callbackUrl":"Beatae quidem omnis sint.","finishOnKey":"Nihil quasi.","numDigits":"Eligendi iste amet rerum.","timeout":"Excepturi ut aspernatur adipisci rerum molestiae."}},"AfricastalkingInitiateAppDataResponseBody":{"title":"Mediatype identifier: userresponse; view=default","type":"object","properties":{"UserData":{"$ref":"#/definitions/UserDataResponseBody"}},"description":"InitiateAppDataResponseBody result type (default view)","example":{"UserData":{"balance":"KES 1785.50"}}},"AfricastalkingMakeCallRequestBody":{"title":"AfricastalkingMakeCallRequestBody","type":"object","properties":{"clientRequestId":{"type":"string","description":"Variable sent to Events Callback URL used to tag the call","example":"Dolor deserunt rerum."},"from":{"type":"string","description":"Africa’s Talking phone number","example":"Et et quam officia qui excepturi."},"to":{"type":"string","description":"A comma separated string of recipients’ phone numbers.","example":"Quia totam."},"username":{"type":"string","description":"Africa’s Talking Username","example":"Eum numquam aut incidunt quibusdam."}},"example":{"clientRequestId":"Harum facilis delectus dolores non ratione harum.","from":"Dignissimos odio dolores sed mollitia ullam quod.","to":"Et et tenetur ipsum vel.","username":"Voluptatem ratione."},"required":["username","from","to"]},"AfricastalkingMakeCallResponseBody":{"title":"Mediatype identifier: makecallresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/VoiceEntryResponseBody"},"example":[{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"},{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"},{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"},{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"}]},"errorMessage":{"type":"string","description":"Error message if ENTIRE request was rejected by the API.","example":"Beatae repellat rem et quaerat."}},"description":"MakeCallResponseBody result type (default view)","example":{"entries":[{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"},{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"},{"phoneNumber":"Ad voluptas dolor.","sessionId":"Harum dicta unde sit maxime nobis ad.","status":"Queued"}],"errorMessage":"Et voluptatem iste."}},"AfricastalkingMobileB2BRequestBody":{"title":"AfricastalkingMobileB2BRequestBody","type":"object","properties":{"amount":{"type":"string","description":"Amount client is expected to confirm.","example":"Occaecati excepturi dicta accusantium quisquam cupiditate doloribus."},"currencyCode":{"type":"string","description":"3-digit ISO format currency code","example":"KES"},"destinationAccount":{"type":"string","description":"Account name used by the business to receive money on the provided destinationChannel.","example":"Hic vel eum."},"destinationChannel":{"type":"string","description":"Name or number of the channel receiving payment by the provider.","example":"Atque mollitia optio est vitae molestiae itaque."},"metadata":{"type":"string","description":"A map of any metadata associated with the request.","example":"Ut mollitia nihil est repudiandae inventore ipsa."},"productName":{"type":"string","description":"Africa’s Talking Payment Product initiating transaction.","example":"Aut ipsa eius."},"provider":{"type":"string","description":"Provider used to process the B2C request.","example":"TigoTanzania","enum":["Mpesa","TigoTanzania","Athena"]},"transferType":{"type":"string","description":"Transfer type of the payment.","example":"BusinessBuyGoods","enum":["BusinessBuyGoods","BusinessPayBill","DisburseFundsToBusiness","BusinessToBusinessTransfer"]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Voluptates consequatur sunt qui."}},"example":{"amount":"Quis quidem voluptatem.","currencyCode":"KES","destinationAccount":"Placeat iusto impedit.","destinationChannel":"Enim illum quasi a ratione est nihil.","metadata":"Est adipisci cum sequi.","productName":"Omnis in.","provider":"Mpesa","transferType":"BusinessPayBill","username":"Eum consequatur soluta nobis quis."}},"AfricastalkingMobileB2BResponseBody":{"title":"Mediatype identifier: mobileb2bresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"A more descriptive error message for the status of this transaction.","example":"Rerum minima id laborum vel."},"providerChannel":{"type":"string","description":"Provider channel which facilitated the payment.","example":"12345"},"status":{"type":"string","description":"The status of the B2B transaction.","example":"Queued","enum":["Queued","InvalidRequest","NotSupported","Failed"]},"transactionFee":{"type":"string","description":"Transaction fee charged by Africa’s Talking for this transaction.","example":"KES 1.00"},"transactionId":{"type":"string","description":"A unique id that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"MobileB2BResponseBody result type (default view)","example":{"errorMessage":"Voluptatem sit error sit maiores saepe.","providerChannel":"12345","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123"},"required":["status"]},"AfricastalkingMobileB2CRequestBody":{"title":"AfricastalkingMobileB2CRequestBody","type":"object","properties":{"productName":{"type":"string","description":"Africa’s Talking Payment Product to initiate this transaction.","example":"Eos sint dolor cumque facere."},"recipients":{"type":"array","items":{"$ref":"#/definitions/MobileRecipientsRequestBody"},"description":"A list of B2C Mobile Recipients","example":[{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"},{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"},{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"}]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Sequi illo voluptas id et."}},"example":{"productName":"Laborum fuga rerum non vero debitis omnis.","recipients":[{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"},{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"},{"amount":"Omnis eos nulla eius atque quaerat.","currencyCode":"Voluptatum voluptas illo accusamus earum.","metadata":{"Eum rerum nihil itaque molestiae nihil.":"Repellendus ea minus.","Itaque sunt dolor quisquam voluptatem et fuga.":"Exercitationem quis repellendus non necessitatibus."},"name":"Sint dignissimos enim quod hic fugit beatae.","phoneNumber":"Quod et numquam soluta odit eum.","providerChannel":"Ut asperiores et perspiciatis.","reason":"BusinessPayment"}],"username":"Quas qui mollitia."},"required":["username","productName","recipients"]},"AfricastalkingMobileB2CResponseBody":{"title":"Mediatype identifier: mobileb2cresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/B2CEntryResponseBody"},"description":"A list of B2C entries","example":[{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"}]},"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API","example":"Fugiat tempore sint enim qui aliquid ratione."},"numQueued":{"type":"integer","description":"Number of B2C transactions that were successfully queued.","example":1,"format":"int64"},"totalTransactionFee":{"type":"string","description":"Total transaction fee charged for all the transactions that were successfully queued. ","example":"KES 2.00"},"totalValue":{"type":"string","description":"Total value of all the transactions that were successfully queued.","example":"KES 100000"}},"description":"MobileB2CResponseBody result type (default view)","example":{"entries":[{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Segovia","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"}],"errorMessage":"Qui illum dolor animi et.","numQueued":1,"totalTransactionFee":"KES 2.00","totalValue":"KES 100000"}},"AfricastalkingMobileCheckoutRequestBody":{"title":"AfricastalkingMobileCheckoutRequestBody","type":"object","properties":{"amount":{"type":"string","description":"Amount client is expected to confirm.","example":"Ea ea velit porro omnis."},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"KES"},"metadata":{"type":"object","description":"Map of any metadata associates with the request","example":{"Atque aperiam.":"Perferendis sit.","Atque quia.":"Voluptates mollitia."},"additionalProperties":true},"phoneNumber":{"type":"string","description":"Phone number of the client that will complete this transaction.","example":"In voluptas."},"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"Nemo dicta consectetur."},"providerChannel":{"type":"string","description":"Provider channel the payment will be initiated from.","example":"Cum consequatur ut consequatur fugiat."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Enim quod optio officiis."}},"example":{"amount":"At et qui quisquam aut est non.","currencyCode":"KES","metadata":{"Voluptatibus tenetur et quaerat repellendus culpa.":"Sunt reprehenderit similique non repellat et dolorum."},"phoneNumber":"Mollitia consequatur quae quo quia aspernatur commodi.","productName":"Hic quas nemo est.","providerChannel":"Qui quaerat dolor iste vitae ipsa.","username":"Quo amet ad est eum enim."},"required":["username","productName","phoneNumber","currencyCode","amount"]},"AfricastalkingMobileCheckoutResponseBody":{"title":"Mediatype identifier: mobilecheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Detailed description of the request status.","example":"Waiting for user input"},"providerChannel":{"type":"string","description":"Provider channel used to initiate this transaction.","example":"345678"},"status":{"type":"string","description":"Status of the request","example":"PendingConfirmation","enum":["PendingConfirmation","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"MobileCheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","providerChannel":"345678","status":"PendingConfirmation","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingNewCheckoutTokenRequestBody":{"title":"AfricastalkingNewCheckoutTokenRequestBody","type":"object","properties":{"phoneNumber":{"type":"string","description":"Mobile phone number you want to create a subscription for.","example":"Quos non amet."}},"example":{"phoneNumber":"Asperiores et et."},"required":["phoneNumber"]},"AfricastalkingNewCheckoutTokenResponseBody":{"title":"Mediatype identifier: checkouttokenresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A description of the status of the request.","example":"Success","enum":["Success","Failed"]},"token":{"type":"string","description":"The checkout token to be used","example":"CkTkn_SampleCkTknId123"}},"description":"NewCheckoutTokenResponseBody result type (default view)","example":{"description":"Success","token":"CkTkn_SampleCkTknId123"}},"AfricastalkingNewPremiumSubscriptionRequestBody":{"title":"AfricastalkingNewPremiumSubscriptionRequestBody","type":"object","properties":{"checkoutToken":{"type":"string","description":"Token used to validate the subscription request","example":""},"keyword":{"type":"string","description":"Premium keyword under short code mapped to your account.","example":""},"phoneNumber":{"type":"string","description":"The phoneNumber to be subscribed","example":""},"shortCode":{"type":"string","description":"Premium short code mapped to your account","example":""},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Corrupti aliquid saepe autem."}},"example":{"checkoutToken":"","keyword":"","phoneNumber":"","shortCode":"","username":"Quia recusandae recusandae aliquid ut eligendi."},"required":["username","shortCode","keyword","phoneNumber","checkoutToken"]},"AfricastalkingNewPremiumSubscriptionResponseBody":{"title":"Mediatype identifier: newsubresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Describes status of the create subscription request.","example":"Waiting for user input"},"status":{"type":"string","description":"Indicates whether the prompt to subscribe to shortcode was successfully raised or not.","example":"Success","enum":["Success","Failed"]}},"description":"NewPremiumSubscriptionResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"Success"}},"AfricastalkingPlayRequestBody":{"title":"AfricastalkingPlayRequestBody","type":"object","properties":{"url":{"type":"string","description":"A valid URL that contains a link to the file to be played.","example":"Repellendus et veritatis reprehenderit ea praesentium ullam."}},"example":{"url":"Repellendus numquam minus eligendi nobis magni omnis."},"required":["url"]},"AfricastalkingPublishIoTRequestBody":{"title":"AfricastalkingPublishIoTRequestBody","type":"object","properties":{"deviceGroup":{"type":"string","description":"Device group to which the message is to be sent","example":"Non omnis."},"payload":{"type":"string","description":"Message packet to be sent to the subscribed devices","example":"Quasi earum recusandae nemo."},"topic":{"type":"string","description":"Messaging channel to which the message is to be sent.","example":"\u003cusername\u003e/\u003cdevice-group\u003e/\u003cthe-topic\u003e"},"username":{"type":"string","description":"Africa’s Talking application username","example":"Cumque consequatur quo et iure distinctio non."}},"example":{"deviceGroup":"Amet nemo vel praesentium.","payload":"Deleniti ipsa aspernatur aut earum sunt.","topic":"\u003cusername\u003e/\u003cdevice-group\u003e/\u003cthe-topic\u003e","username":"Illum ipsum eveniet."},"required":["username","deviceGroup","topic","payload"]},"AfricastalkingPublishIoTResponseBody":{"title":"Mediatype identifier: iotresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Verbose response message detailing the status of the HTTP response","example":"Publishing not allowed","enum":["Message processed successfully","Publishing not allowed","The provided topic does not belong to the user"]},"status":{"type":"string","description":"Response status of the API request. ","example":"false","enum":["true","false"]}},"description":"PublishIoTResponseBody result type (default view)","example":{"description":"The provided topic does not belong to the user","status":"true"}},"AfricastalkingPurgePremiumSubscriptionRequestBody":{"title":"AfricastalkingPurgePremiumSubscriptionRequestBody","type":"object","properties":{"keyword":{"type":"string","description":"Premium keyword under short code mapped to your account.","example":""},"phoneNumber":{"type":"string","description":"The phoneNumber to be unsubscribed.","example":""},"shortCode":{"type":"string","description":"Premium short code mapped to your account","example":""},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Itaque sint inventore dolorem."}},"example":{"keyword":"","phoneNumber":"","shortCode":"","username":"Et quis sit dolore."},"required":["username","shortCode","keyword","phoneNumber"]},"AfricastalkingPurgePremiumSubscriptionResponseBody":{"title":"Mediatype identifier: purgesubresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Describes status of the delete subscription request.","example":"Succeeded"},"status":{"type":"string","description":"Indicates whether the phone number was successfully unsubscribed or not.","example":"Success","enum":["Success","Failed"]}},"description":"PurgePremiumSubscriptionResponseBody result type (default view)","example":{"description":"Succeeded","status":"Success"}},"AfricastalkingQueueRequestBody":{"title":"AfricastalkingQueueRequestBody","type":"object","properties":{"phoneNumbers":{"type":"string","description":"List of one or more numbers mapped to your Africa’s Talking account.","example":"Aspernatur itaque autem omnis."},"username":{"type":"string","description":"Your Africa’s Talking application username.","example":"Illum nam quae blanditiis provident sit."}},"example":{"phoneNumbers":"Et porro incidunt quia natus.","username":"Aut ex ratione sunt occaecati eligendi."},"required":["username","phoneNumbers"]},"AfricastalkingQueueResponseBody":{"title":"Mediatype identifier: queuedstatusresult; view=default","type":"object","properties":{"Entries":{"type":"array","items":{"$ref":"#/definitions/QueuedStatusEntryResponseBody"},"example":[{"numCalls":"Repudiandae blanditiis et architecto ut.","phoneNumber":"Vel reiciendis.","queueName":"Repellat ut."},{"numCalls":"Repudiandae blanditiis et architecto ut.","phoneNumber":"Vel reiciendis.","queueName":"Repellat ut."}]},"errorMessage":{"type":"string","description":"Error Message","example":"Et quis voluptates dolorem consectetur ea."}},"description":"QueueResponseBody result type (default view)","example":{"Entries":[{"numCalls":"Repudiandae blanditiis et architecto ut.","phoneNumber":"Vel reiciendis.","queueName":"Repellat ut."},{"numCalls":"Repudiandae blanditiis et architecto ut.","phoneNumber":"Vel reiciendis.","queueName":"Repellat ut."},{"numCalls":"Repudiandae blanditiis et architecto ut.","phoneNumber":"Vel reiciendis.","queueName":"Repellat ut."}],"errorMessage":"Deserunt non qui."}},"AfricastalkingRecordRequestBody":{"title":"AfricastalkingRecordRequestBody","type":"object","properties":{"callbackUrl":{"type":"string","example":"Sint voluptatem nesciunt odit voluptatem."},"finishOnKey":{"type":"string","example":"Vel ipsam velit dolorem odio ut."},"maxLength":{"type":"string","example":"Sunt magnam."},"playBeep":{"type":"string","example":"Exercitationem nisi fugiat."},"timeout":{"type":"string","example":"Deserunt quae."},"trimSilence":{"type":"string","example":"Qui dolorum cum."}},"example":{"callbackUrl":"Voluptas qui ab quam voluptas.","finishOnKey":"Id laborum suscipit et rerum esse eum.","maxLength":"Quas nihil dicta officia atque soluta.","playBeep":"Odio non et quasi beatae.","timeout":"Autem facilis ipsum esse ad.","trimSilence":"Similique maiores."}},"AfricastalkingRedirectRequestBody":{"title":"AfricastalkingRedirectRequestBody","type":"object","properties":{"Reject":{"type":"string","description":"Reject","example":"Odit iure dolorem eaque quis ut cumque."}},"example":{"Reject":"Exercitationem corrupti voluptatem voluptas omnis et."}},"AfricastalkingRejectRequestBody":{"title":"AfricastalkingRejectRequestBody","type":"object","properties":{"Redirect":{"type":"string","description":"Redirect","example":"Vel enim."}},"example":{"Redirect":"Officia tempora sint voluptatem officia."}},"AfricastalkingSayRequestBody":{"title":"AfricastalkingSayRequestBody","type":"object","properties":{"playBeep":{"type":"boolean","description":"Instructs AT to play a beep after reading the text contained in the request","default":false,"example":false},"voice":{"type":"string","description":"This parameter specifies the voice to use","default":"woman","example":"woman","enum":["man","woman"]}},"example":{"playBeep":true,"voice":"woman"}},"AfricastalkingSendAirtimeRequestBody":{"title":"AfricastalkingSendAirtimeRequestBody","type":"object","properties":{"recipients":{"type":"array","items":{"$ref":"#/definitions/AirtimeRecipientsRequestBody"},"example":[{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"}]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Sed nihil facere eum cupiditate."}},"example":{"recipients":[{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"}],"username":"Natus velit voluptas est delectus deleniti nobis."},"required":["username","recipients"]},"AfricastalkingSendAirtimeResponseBody":{"title":"Mediatype identifier: airtimeresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API.","example":"None"},"numSent":{"type":"integer","description":"Number of requests sent to the provider","example":7887017172027341593,"format":"int64"},"responses":{"type":"array","items":{"$ref":"#/definitions/AirtimeEntryResponseBody"},"example":[{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}]},"totalAmount":{"type":"string","description":"Total value of airtime sent to the provider.","example":"KES 1000.0000"},"totalDiscount":{"type":"string","description":"Total discount applied on the airtime.","example":"KES 40.0000"}},"description":"SendAirtimeResponseBody result type (default view)","example":{"errorMessage":"None","numSent":978766418455094379,"responses":[{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}],"totalAmount":"KES 1000.0000","totalDiscount":"KES 40.0000"}},"AfricastalkingSendBulkSMSRequestBody":{"title":"AfricastalkingSendBulkSMSRequestBody","type":"object","properties":{"bulkSMSMode":{"type":"integer","description":"Used by MSP to determine who gets billed for a message","default":1,"example":1686838619010671443,"format":"int64"},"enqueue":{"type":"integer","description":"Used for Bulk SMS clients","default":1,"example":0,"enum":[0,1]},"from":{"type":"string","description":"Registered Short Code or Alphanumeric","example":"Ducimus necessitatibus ut doloribus harum rerum qui."},"keyword":{"type":"string","description":"The keyword to be used for a premium service","example":"Porro veritatis ad."},"linkId":{"type":"string","description":"Used for premium services to send OnDemand messages","example":"Numquam sapiente qui labore incidunt."},"message":{"type":"string","description":"Message to be sent","example":"Ducimus eius ipsa sunt."},"retryDurationInHours":{"type":"string","description":"No. of hours subscription message should be retried","example":"Vero voluptatum voluptatem."},"to":{"type":"string","description":"Recipients’ phone numbers","example":"Placeat omnis distinctio excepturi soluta accusamus quod."},"username":{"type":"string","description":"Africa’s Talking application username","example":"Ut a aut asperiores."}},"example":{"bulkSMSMode":8249747199107803304,"enqueue":1,"from":"Cum eius expedita soluta aliquam perspiciatis accusantium.","keyword":"Nostrum aut tempora quisquam voluptas sunt saepe.","linkId":"Est velit ut.","message":"Sit praesentium sit voluptas quia at.","retryDurationInHours":"Consequatur nesciunt explicabo nihil enim laborum odit.","to":"Dolorem dolorum eaque quia quidem.","username":"Quia nam voluptates iure harum laborum."},"required":["username","to","message"]},"AfricastalkingSendBulkSMSResponseBody":{"title":"Mediatype identifier: bulkresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/BulkSMSMessageDataResponseBody"}},"description":"SendBulkSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}}},"AfricastalkingSendPremiumSMSRequestBody":{"title":"AfricastalkingSendPremiumSMSRequestBody","type":"object","properties":{"bulkSMSMode":{"type":"integer","description":"Used by MSP to determine who gets billed for a message","default":1,"example":20828535184492477,"format":"int64"},"enqueue":{"type":"integer","description":"Used for Bulk SMS clients","default":1,"example":1,"enum":[0,1]},"from":{"type":"string","description":"Registered Short Code or Alphanumeric","example":"Aut et cupiditate totam voluptatibus velit."},"keyword":{"type":"string","description":"The keyword to be used for a premium service","example":"Ex ipsa nisi est maiores et consequuntur."},"linkId":{"type":"string","description":"Used for premium services to send OnDemand messages","example":"Voluptates et vitae et."},"message":{"type":"string","description":"Message to be sent","example":"Labore aut."},"retryDurationInHours":{"type":"string","description":"No. of hours subscription message should be retried","example":"Nemo nam qui sed mollitia dolore similique."},"to":{"type":"string","description":"Recipients’ phone numbers","example":"Qui aperiam."},"username":{"type":"string","description":"Africa’s Talking application username","example":"Voluptate officia odit dolores deleniti."}},"example":{"bulkSMSMode":5178861890710960800,"enqueue":1,"from":"Dolor omnis.","keyword":"Dolore non sit in.","linkId":"Reprehenderit corporis ducimus eius suscipit.","message":"Necessitatibus repudiandae ad.","retryDurationInHours":"Nemo voluptas distinctio.","to":"Error soluta dicta quis fuga.","username":"Nisi necessitatibus et."},"required":["username","to","message"]},"AfricastalkingSendPremiumSMSResponseBody":{"title":"Mediatype identifier: premiumresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/PremiumSMSMessageDataResponseBody"}},"description":"SendPremiumSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}}},"AfricastalkingTopupStashRequestBody":{"title":"AfricastalkingTopupStashRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount application will be topped up with.","example":0.8245622944845078,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"Et laborum et."},"metadata":{"type":"object","description":"Metadata associated with the request.","example":{"Consequatur officia ut.":"Provident doloremque placeat sunt rem deserunt rerum.","Inventore voluptatem.":"Nobis nobis consequatur quae.","Quibusdam rem eaque minima dolorem nobis mollitia.":"Facilis ipsum impedit numquam."},"additionalProperties":true},"productName":{"type":"string","description":"Africa’s Talking Payment product initiating transaction.","example":"Id tempora et veritatis."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Minima fugit velit eum omnis quia rerum."}},"example":{"amount":0.3434587370293656,"currencyCode":"Cupiditate aspernatur consequatur.","metadata":{"Aspernatur voluptatibus sit odit impedit culpa aut.":"Laudantium rerum libero et architecto veniam.","Et hic id voluptatem magnam.":"Eum ut dignissimos.","Reiciendis ipsa omnis.":"Perferendis dolorum ipsam ipsa nihil."},"productName":"Sint autem sed dolorem nobis.","username":"Ex qui aliquid rerum voluptate a."},"required":["username","productName","currencyCode","amount","metadata"]},"AfricastalkingTopupStashResponseBody":{"title":"Mediatype identifier: topupstashresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Topped up user stash. New Stash Balance: KES 1500.00"},"status":{"type":"string","description":"Corresponds to the status of the request","example":"Success","enum":["Success","Failed"]},"transactionId":{"type":"string","description":"Unique ID for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"TopupStashResponseBody result type (default view)","example":{"description":"Topped up user stash. New Stash Balance: KES 1500.00","status":"Success","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingTransferCallRequestBody":{"title":"AfricastalkingTransferCallRequestBody","type":"object","properties":{"callLeg":{"type":"string","description":"Call leg to transfer the call to either caller or callee","default":"callee","example":"callee","enum":["caller","callee"]},"holdMusicUrl":{"type":"string","description":"The url of the media file to be played when the user is on hold.","example":"Reprehenderit eius voluptatem quo odit."},"phoneNumber":{"type":"string","description":"Phone Number to transfer the call to","example":"Facilis pariatur sunt cumque qui."},"sessionId":{"type":"string","description":"Session Id of the ongoing call, it must have two legs","example":"Illo autem."}},"example":{"callLeg":"caller","holdMusicUrl":"Animi in error corporis.","phoneNumber":"Porro est et consequuntur beatae.","sessionId":"Et ut."},"required":["sessionId","phoneNumber"]},"AfricastalkingTransferCallResponseBody":{"title":"Mediatype identifier: calltransferresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"Why the transfer ws aborted None is successful","example":"Consequatur fugit aut repellat ipsam sed vel."},"status":{"type":"string","description":"can be either Success or Aborted","example":"Aborted","enum":["Success","Aborted"]}},"description":"TransferCallResponseBody result type (default view)","example":{"errorMessage":"Voluptate sed corporis et magnam.","status":"Success"}},"AfricastalkingUploadMediaRequestBody":{"title":"AfricastalkingUploadMediaRequestBody","type":"object","properties":{"url":{"type":"string","description":"The url of the file to upload.","example":"Rem atque tempora voluptas."},"username":{"type":"string","description":"Your Africa’s Talking application username.","example":"Sed non aut rerum."}},"example":{"url":"Ex qui.","username":"Laborum eos."}},"AfricastalkingWalletTransferRequestBody":{"title":"AfricastalkingWalletTransferRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount application will be topped up with.","example":0.3768021775090701,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code","example":"Quidem nesciunt saepe expedita illo minima."},"metadata":{"type":"object","description":"Metadata associated with the request. ","example":{"Omnis veritatis consequatur eaque et blanditiis.":"Asperiores non alias voluptatem."},"additionalProperties":true},"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"Quia aspernatur ipsa ipsa porro quidem."},"targetProductCode":{"type":"string","description":"Unique product code to transfer the funds to.","example":"Quis ratione."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Quis expedita facilis quibusdam animi dicta."}},"example":{"amount":0.7943088459933987,"currencyCode":"Aut labore est neque.","metadata":{"Ratione et aut hic quo.":"Provident placeat et eum amet."},"productName":"Eveniet et et.","targetProductCode":"Et eveniet.","username":"Recusandae tempora."},"required":["username","productName","targetProductCode","currencyCode","amount","metadata"]},"AfricastalkingWalletTransferResponseBody":{"title":"Mediatype identifier: wallettransferresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Transferred funds to sandbox [TestProduct]"},"status":{"type":"string","description":"Corresponds to the status of the request.","example":"Success","enum":["Success","Failed"]},"transactionId":{"type":"string","description":"A unique id that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"WalletTransferResponseBody result type (default view)","example":{"description":"Transferred funds to sandbox [TestProduct]","status":"Success","transactionId":"ATPid_SampleTxnId123"}},"AirtimeEntryResponseBody":{"title":"AirtimeEntryResponseBody","type":"object","properties":{"amount":{"type":"string","description":"Value of airtime requested.","example":"KES 1000.0000"},"discount":{"type":"string","description":"Discount applied to the requested airtime amount.","example":"KES 40.0000"},"errorMessage":{"type":"string","description":"Error message for the request associated to this phone number. ","example":"None"},"phoneNumber":{"type":"string","description":"Phone number for this transaction.","example":"+254711XXXYYY"},"requestId":{"type":"string","description":"Unique ID for the request associated to this phone number","example":"ATQid_1be914ac47845eef1a1dab5d89ec50ff"},"status":{"type":"string","description":"Status of the request associated to this phone number","example":"Sent","enum":["Sent","Failed"]}},"example":{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}},"AirtimeRecipientsRequestBody":{"title":"AirtimeRecipientsRequestBody","type":"object","properties":{"amount ":{"type":"string","description":"Value of airtime to send together with the currency code.","example":"KES 100.50"},"phoneNumber":{"type":"string","description":"Phone number that will be topped up.","example":"+234811222333"}},"description":"A url encoded json list of Recipients","example":{"amount ":"KES 100.50","phoneNumber":"+234811222333"}},"B2CEntryResponseBody":{"title":"B2CEntryResponseBody","type":"object","properties":{"errorMessage":{"type":"string","description":"A more descriptive error message for the status of this transaction.","example":"Insufficient Credit"},"phoneNumber":{"type":"string","description":"The phone number of the B2C transaction recipient.","example":"+254711XXXYYY"},"provider":{"type":"string","description":"Provider used to process the B2C request.","example":"Mpesa","enum":["Mpesa","Segovia","Athena"]},"providerChannel":{"type":"string","description":"Channel used to process the B2C request.","example":"525900"},"status":{"type":"string","description":"The status of the B2C transaction.","example":"Queued","enum":["Queued","InvalidRequest","NotSupported","Failed"]},"transactionFee":{"type":"string","description":"Transaction fee charged by Africa’s Talking for this transaction.","example":"KES 1.00"},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"},"value":{"type":"string","description":"Value sent to the mobile subscriber.","example":"KES 100000"}},"example":{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},"required":["phoneNumber","status"]},"BankAccountRequestBody":{"title":"BankAccountRequestBody","type":"object","properties":{"accountName":{"type":"string","description":"Bank account name.","example":"Unde rerum."},"accountNumber":{"type":"string","description":"Bank account number.","example":"Quia aut et consequatur eius."},"bankCode":{"type":"integer","description":"6-Digit Integer code for the bank that we allocate.","example":1418381142593356328,"format":"int64"},"dateOfBirth":{"type":"string","description":"Date of birth of the account owner.","example":"1991-11-04","format":"date"}},"example":{"accountName":"Ullam voluptatem.","accountNumber":"Qui dolorum sit.","bankCode":7814510693230622552,"dateOfBirth":"1997-10-31"},"required":["accountName","accountNumber","bankCode","dateOfBirth"]},"BulkSMSMessageDataResponseBody":{"title":"BulkSMSMessageDataResponseBody","type":"object","properties":{"Messages":{"type":"string","description":"A summary of the total number of recipients the sms was sent to and the total cost incurred.","example":"Sent to 1/1 Total Cost: KES 0.8000","pattern":"[a-zA-Z]+"},"Recipients":{"type":"array","items":{"$ref":"#/definitions/RecipientsResponseBody"},"description":"A list of recipients included in the original request.","example":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}],"minItems":1}},"description":"A Map detailing the eventual result of the sms request","example":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}},"FetchSMSMessageDataResponseBody":{"title":"FetchSMSMessageDataResponseBody","type":"object","properties":{"Messages":{"type":"array","items":{"$ref":"#/definitions/MessagesResponseBody"},"example":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}],"minItems":1}},"example":{"Messages":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}]}},"MessagesResponseBody":{"title":"MessagesResponseBody","type":"object","properties":{"date":{"type":"string","description":"The date when the sms was sent.","example":"2018-03-19T08:34:18.445Z"},"from":{"type":"string","description":"The sender’s phone number.","example":"+254711XXXYYY"},"id":{"type":"integer","description":"The id of the message.","example":15071,"format":"int64"},"linkId":{"type":"string","description":"A unique identifier attached to each incoming message.","example":"SampleLinkId123"},"text":{"type":"string","description":"The content of the message received.","example":"Hello"},"to":{"type":"string","description":"Your registered short code that the sms was sent out to.","example":"28901"}},"description":"A list of messages from your inbox.","example":{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}},"MobileRecipientsRequestBody":{"title":"MobileRecipientsRequestBody","type":"object","properties":{"amount":{"type":"string","description":"Amount that the client is expected to confirm.","example":"Quod iure."},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"Fugit vitae assumenda tempora."},"metadata":{"type":"object","description":"Map of metadata associated with the request.","example":{"Quasi debitis alias qui ipsa et sunt.":"Molestiae officia ullam enim sed.","Ut illum.":"Et architecto consectetur quaerat nisi corrupti non."},"additionalProperties":true},"name":{"type":"string","description":"Name of the B2C transaction recipient.","example":"Sapiente blanditiis vitae."},"phoneNumber":{"type":"string","description":"Phone number of the B2C transaction recipient.","example":"Ut dolores magni est natus."},"providerChannel":{"type":"string","description":"Channel payment will be made from.","example":"Consequuntur quod est sit quasi dolore consequatur."},"reason":{"type":"string","description":"Purpose of the payment.","example":"BusinessPaymentWithWithdrawalChargePaid","enum":["SalaryPayment","SalaryPaymentWithWithdrawalChargePaid","BusinessPayment","BusinessPaymentWithWithdrawalChargePaid","PromotionPayment"]}},"description":"List of Recipient elements of a B2C transaction request.","example":{"amount":"Illum iste non provident quasi.","currencyCode":"Quod officia.","metadata":{"Sint ex quia soluta.":"Alias in omnis provident."},"name":"Iure quia dolor quis est.","phoneNumber":"Id aliquid ipsum possimus reprehenderit.","providerChannel":"Consequatur quidem vel soluta.","reason":"SalaryPaymentWithWithdrawalChargePaid"},"required":["phoneNumber","currencyCode","amount"]},"PaymentCardRequestBody":{"title":"PaymentCardRequestBody","type":"object","properties":{"authToken":{"type":"string","description":"The payment cards ATM PIN.","example":"Ratione et molestiae rerum aut sint."},"countryCode":{"type":"string","description":"2-Digit country code where the payment card was issued.","default":"NG","example":"NG","enum":["NG"]},"cvvNumber":{"type":"integer","description":"3 or 4 digit payment card verification value.","example":6477139243902627940,"format":"int64"},"expiryMonth":{"type":"integer","description":"Expiration month on the payment card.","example":7587948005301132434,"format":"int64"},"expiryYear":{"type":"integer","description":"Expiration year on the payment card.","example":6695763504445462252,"format":"int64"},"number":{"type":"string","description":"Payment card number.","example":"Facere adipisci eaque facilis placeat exercitationem provident."}},"example":{"authToken":"Unde deleniti.","countryCode":"NG","cvvNumber":899998593614309669,"expiryMonth":4466597751782864797,"expiryYear":5939396169204429242,"number":"Provident ab eum hic."},"required":["number","cvvNumber","expiryMonth","expiryYear","countryCode","authToken"]},"PremiumSMSMessageDataResponseBody":{"title":"PremiumSMSMessageDataResponseBody","type":"object","properties":{"Messages":{"type":"string","description":"A summary of the total number of recipients the sms was sent to and the total cost incurred.","example":"Sent to 1/1 Total Cost: KES 0.8000","pattern":"[a-zA-Z]+"},"Recipients":{"type":"array","items":{"$ref":"#/definitions/RecipientsResponseBody"},"description":"A list of recipients included in the original request.","example":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}],"minItems":1}},"description":"A Map detailing the eventual result of the sms request","example":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}},"QueuedStatusEntryResponseBody":{"title":"QueuedStatusEntryResponseBody","type":"object","properties":{"numCalls":{"type":"string","example":"Sed aut qui laborum."},"phoneNumber":{"type":"string","example":"Vitae consequatur."},"queueName":{"type":"string","example":"Et rerum."}},"example":{"numCalls":"Veniam iusto quia culpa est quam.","phoneNumber":"Qui perspiciatis rerum veritatis.","queueName":"Quia id ad exercitationem."}},"RecipientsResponseBody":{"title":"RecipientsResponseBody","type":"object","properties":{"cost":{"type":"string","description":"Amount incurred to send this sms.","example":"KES 0.8000"},"messageId":{"type":"string","description":"The messageId received when the sms was sent.","example":"ATPid_SampleTxnId123"},"number":{"type":"string","description":"The recipient’s phone number","example":"+254711XXXYYY"},"status":{"type":"string","description":"A string indicating whether the sms was sent to this recipient or not.","example":"Success"},"statusCode":{"type":"integer","description":"This corresponds to the status of the request","example":101,"enum":[100,101,102,401,402,403,404,405,406,407,408,501,502]}},"description":"Recipient Attributes","example":{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}},"SubscriptionsResponseBody":{"title":"SubscriptionsResponseBody","type":"object","properties":{"Date":{"type":"string","description":"Timestamp when the subscription was made.","example":"Timestamp","format":"date-time"},"id":{"type":"integer","description":"The id of the subscription","example":100,"format":"int64"},"number":{"type":"string","description":"The phone number subscribed to the product.","example":"+254711XXXYYY"}},"example":{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"}},"TransferEntriesResponseBody":{"title":"TransferEntriesResponseBody","type":"object","properties":{"accountNumber":{"type":"string","description":"The account number of the bank transfer recipient.","example":"1234567890"},"errorMessage":{"type":"string","description":"A more descriptive error message for the status of this transaction.","example":"Insufficient Credit"},"status":{"type":"string","description":"The transaction has been accepted and queued for processing by the payment provider.","example":"Queued","enum":["InvalidRequest","NotSupported","Failed"]},"transactionFee":{"type":"string","description":"Transaction fee charged by Africa’s Talking for this transaction. ","example":"NGN 50.00"},"transactionId":{"type":"string","description":"A unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId"}},"description":"A list of bank transfer entries.","example":{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"}},"TransferRecipientsRequestBody":{"title":"TransferRecipientsRequestBody","type":"object","properties":{"accountName":{"type":"string","description":" Bank account name.","example":"Sit aut ut."},"accountNumber":{"type":"string","description":"Bank account number.","example":"Qui corrupti et natus."},"amount":{"type":"string","description":"Amount client is expected to receive.","example":"Laborum inventore quas."},"bankAccount":{"type":"string","description":"Details of a bank account to receive the bank transfer payment.","example":"Ab itaque labore consequatur earum."},"bankCode":{"type":"string","description":"6-Digit Integer code for the bank that we allocate.","example":"Est quasi."},"currencyCode":{"type":"string","description":" 3-digit ISO format currency code","example":"Aperiam officia veniam hic et."},"dateOfBirth":{"type":"string","description":"Date of birth of the account owner.","example":"Aperiam odio ut illo nulla aut."},"metadata":{"type":"object","description":"A map of any metadata associated with the request.","example":{"Consequuntur omnis sequi sint.":"Voluptates reiciendis dolorem dolorum sapiente eligendi.","Distinctio suscipit reprehenderit rerum molestias et tenetur.":"Commodi qui magni natus porro autem quia.","Dolore accusamus aut.":"Laborum est sit consequatur distinctio omnis."},"additionalProperties":true},"narration":{"type":"string","description":"Short description of the transaction displayed on the clients statement.","example":"Est ut a aut."}},"description":"A list of Recipient elements each corresponding to a bank transfer transaction request. ","example":{"accountName":"Architecto aut magnam consequatur itaque autem.","accountNumber":"A aut suscipit suscipit provident consequuntur.","amount":"Vitae perspiciatis aperiam quae dolor.","bankAccount":"Sit hic rem.","bankCode":"Et rerum et laudantium facere sed doloribus.","currencyCode":"Voluptatibus omnis vero omnis consequuntur facilis voluptas.","dateOfBirth":"Quo molestiae iure labore totam incidunt.","metadata":{"A quasi fugit autem molestiae dignissimos natus.":"Rem optio ducimus."},"narration":"Accusantium maiores accusantium est occaecati."},"required":["bankAccount","accountNumber","bankCode","currencyCode","amount"]},"UserDataResponseBody":{"title":"UserDataResponseBody","type":"object","properties":{"balance":{"type":"string","description":"Your Africa’s Talking application balance.","example":"KES 1785.50"}},"example":{"balance":"KES 1785.50"}},"VoiceEntryResponseBody":{"title":"VoiceEntryResponseBody","type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number queued.","example":"Tenetur vero dolores minus."},"sessionId":{"type":"string","description":"A unique id for the request associated to this phone number","default":"None","example":"Vero sed nisi veritatis consequatur non nemo."},"status":{"type":"string","example":"InvalidPhoneNumber","enum":["Queued","InvalidPhoneNumber","DestinationNotSupported","InsufficientCredit"]}},"example":{"phoneNumber":"Non officia aliquid tempore.","sessionId":"Sunt quo ut.","status":"InvalidPhoneNumber"}}},"externalDocs":{"description":"Library Usage","url":"https://github.com/wondenge/atgo/blob/master/README.md"}}