{"swagger":"2.0","info":{"title":"AfricasTalking API","description":"HTTP service for interacting with all AfricasTalking API.","termsOfService":"https://github.com/wondenge/atgo/blob/master/LICENSE","contact":{"name":"William Ondenge","email":"ondengew@gmail.com","url":"https://www.ondenge.me"},"license":{"name":"Apache License","url":"https://github.com/wondenge/atgo/blob/master/LICENSE"},"version":"1.0"},"host":"api.sandbox.africastalking.com","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/auth-token/generate":{"post":{"tags":["africastalking"],"summary":"Generate africastalking","description":"Generates a valid auth token","operationId":"africastalking#Generate","produces":["application/json"],"parameters":[{"name":"GenerateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingGenerateRequestBody","required":["username","apiKey"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingGenerateResponseBody"}}},"schemes":["https"]}},"/bank/checkout/charge":{"post":{"tags":["africastalking"],"summary":"Bank Checkout africastalking","description":"Collect money into your payment wallet.","operationId":"africastalking#Bank Checkout","produces":["application/json"],"parameters":[{"name":"Bank CheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutRequestBody","required":["username","productName","bankAccount","currencyCode","amount","narration"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutResponseBody"}}},"schemes":["https"]}},"/bank/checkout/validate":{"post":{"tags":["africastalking"],"summary":"BankCheckoutValidate africastalking","description":"Validate a bank checkout charge request","operationId":"africastalking#BankCheckoutValidate","produces":["application/json"],"parameters":[{"name":"BankCheckoutValidateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutValidateRequestBody","required":["username","transactionId","otp"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankCheckoutValidateResponseBody"}}},"schemes":["https"]}},"/bank/transfer":{"post":{"tags":["africastalking"],"summary":"BankTransfer africastalking","description":"Initiate a bank transfer request.","operationId":"africastalking#BankTransfer","produces":["application/json"],"parameters":[{"name":"BankTransferRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingBankTransferRequestBody","required":["username","productName","recipients"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingBankTransferResponseBody"}}},"schemes":["https"]}},"/call":{"post":{"tags":["africastalking"],"summary":"MakeCall africastalking","description":"Makes outbound calls.","operationId":"africastalking#MakeCall","produces":["application/json"],"parameters":[{"name":"MakeCallRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMakeCallRequestBody","required":["username","from","to"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMakeCallResponseBody"}}},"schemes":["https"]}},"/callTransfer":{"post":{"tags":["africastalking"],"summary":"TransferCall africastalking","description":"Transfers call to another number.","operationId":"africastalking#TransferCall","produces":["application/json"],"parameters":[{"name":"TransferCallRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingTransferCallRequestBody","required":["sessionId","phoneNumber"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingTransferCallResponseBody"}}},"schemes":["https"]}},"/card/checkout/charge":{"post":{"tags":["africastalking"],"summary":"CardCheckout africastalking","description":"Collect money into your Payment Wallet by initiating transactions that deduct money from a customers Debit or Credit Card.","operationId":"africastalking#CardCheckout","produces":["application/json"],"parameters":[{"name":"CardCheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutRequestBody","required":["username","productName","currencyCode","amount","narration"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutResponseBody"}}},"schemes":["https"]}},"/card/checkout/validate":{"post":{"tags":["africastalking"],"summary":"CardCheckoutValidate africastalking","description":"Validate card checkout charge requests","operationId":"africastalking#CardCheckoutValidate","produces":["application/json"],"parameters":[{"name":"CardCheckoutValidateRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutValidateRequestBody","required":["username","transactionId","otp"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingCardCheckoutValidateResponseBody"}}},"schemes":["https"]}},"/checkout/token/create":{"post":{"tags":["africastalking"],"summary":"NewCheckoutToken africastalking","description":"Generate a checkout token","operationId":"africastalking#NewCheckoutToken","produces":["application/json"],"parameters":[{"name":"NewCheckoutTokenRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingNewCheckoutTokenRequestBody","required":["phoneNumber"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingNewCheckoutTokenResponseBody"}}},"schemes":["https"]}},"/data/publish":{"post":{"tags":["africastalking"],"summary":"PublishIoT africastalking","description":"Publishes messages to remote devices.","operationId":"africastalking#PublishIoT","produces":["application/json"],"parameters":[{"name":"PublishIoTRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingPublishIoTRequestBody","required":["username","deviceGroup","topic","payload"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingPublishIoTResponseBody"}}},"schemes":["https"]}},"/mediaUpload":{"post":{"tags":["africastalking"],"summary":"UploadMedia africastalking","description":"Uploads media or audio files to Africa'sTalking servers with the extension .mp3 or .wav","operationId":"africastalking#UploadMedia","parameters":[{"name":"UploadMediaRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingUploadMediaRequestBody"}}],"responses":{"201":{"description":"Created response.","schema":{"type":"string"}}},"schemes":["https"]}},"/mobile/b2b/request":{"post":{"tags":["africastalking"],"summary":"MobileB2B africastalking","description":"Initiate Mobile B2B request","operationId":"africastalking#MobileB2B","produces":["application/json"],"parameters":[{"name":"MobileB2BRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileB2BRequestBody"}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileB2BResponseBody"}}},"schemes":["https"]}},"/mobile/b2c/request":{"post":{"tags":["africastalking"],"summary":"MobileB2C africastalking","description":"Initiate Mobile B2C request","operationId":"africastalking#MobileB2C","produces":["application/json"],"parameters":[{"name":"MobileB2CRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileB2CRequestBody","required":["username","productName","recipients"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileB2CResponseBody"}}},"schemes":["https"]}},"/mobile/checkout/request":{"post":{"tags":["africastalking"],"summary":"MobileCheckout africastalking","description":"Initiate Mobile C2B payments on a mobile subscriber’s device.","operationId":"africastalking#MobileCheckout","produces":["application/json"],"parameters":[{"name":"MobileCheckoutRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingMobileCheckoutRequestBody","required":["username","productName","phoneNumber","currencyCode","amount"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingMobileCheckoutResponseBody"}}},"schemes":["https"]}},"/query/transaction/fetch":{"get":{"tags":["africastalking"],"summary":"FetchProductTransactions africastalking","description":"Fetch transactions of a particular payment product.","operationId":"africastalking#FetchProductTransactions","produces":["application/json"],"parameters":[{"name":"FetchProductTransactionsRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFetchProductTransactionsRequestBody","required":["username","productName","pageNumber","count"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchProductTransactionsResponseBody"}}},"schemes":["https"]}},"/query/transaction/find":{"get":{"tags":["africastalking"],"summary":"FindTransaction africastalking","description":"Fetch transactions of a particular payment product.","operationId":"africastalking#FindTransaction","produces":["application/json"],"parameters":[{"name":"FindTransactionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFindTransactionRequestBody","required":["username","transactionId"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFindTransactionResponseBody"}}},"schemes":["https"]}},"/query/wallet/balance":{"get":{"tags":["africastalking"],"summary":"FetchWalletBalance africastalking","description":"Fetch your wallet balance","operationId":"africastalking#FetchWalletBalance","produces":["application/json"],"parameters":[{"name":"FetchWalletBalanceRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFetchWalletBalanceRequestBody","required":["username"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchWalletBalanceResponseBody"}}},"schemes":["https"]}},"/query/wallet/fetch":{"get":{"tags":["africastalking"],"summary":"FetchWalletTransactions africastalking","description":"Fetch your wallet transactions","operationId":"africastalking#FetchWalletTransactions","produces":["application/json"],"parameters":[{"name":"FetchWalletTransactionsRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFetchWalletTransactionsRequestBody","required":["username","pageNumber","count"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchWalletTransactionsResponseBody"}}},"schemes":["https"]}},"/topup/stash":{"post":{"tags":["africastalking"],"summary":"TopupStash africastalking","description":"Move money from a Payment Product to an Africa’s Talking application stash.","operationId":"africastalking#TopupStash","produces":["application/json"],"parameters":[{"name":"TopupStashRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingTopupStashRequestBody","required":["username","productName","currencyCode","amount","metadata"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingTopupStashResponseBody"}}},"schemes":["https"]}},"/transfer/wallet":{"post":{"tags":["africastalking"],"summary":"WalletTransfer africastalking","description":"Transfer money from one Payment Product to another Payment Product hosted on Africa’s Talking.","operationId":"africastalking#WalletTransfer","produces":["application/json"],"parameters":[{"name":"WalletTransferRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingWalletTransferRequestBody","required":["username","productName","targetProductCode","currencyCode","amount","metadata"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingWalletTransferResponseBody"}}},"schemes":["https"]}},"/version1/airtime/send":{"post":{"tags":["africastalking"],"summary":"SendAirtime africastalking","description":"Send Airtime.","operationId":"africastalking#SendAirtime","produces":["application/json"],"parameters":[{"name":"SendAirtimeRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingSendAirtimeRequestBody","required":["username","recipients"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingSendAirtimeResponseBody"}}},"schemes":["https"]}},"/version1/messaging":{"get":{"tags":["africastalking"],"summary":"FetchSMS africastalking","description":"Incrementally fetch messages from application inbox.","operationId":"africastalking#FetchSMS","produces":["application/json"],"parameters":[{"name":"FetchSMSRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFetchSMSRequestBody","required":["username"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchSMSResponseBody"}}},"schemes":["https"]},"post":{"tags":["africastalking"],"summary":"SendPremiumSMS africastalking","description":"Send Premium SMS","operationId":"africastalking#SendPremiumSMS","produces":["application/json"],"parameters":[{"name":"SendPremiumSMSRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingSendPremiumSMSRequestBody","required":["username","to","message"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingSendPremiumSMSResponseBody"}}},"schemes":["https"]}},"/version1/subscription":{"get":{"tags":["africastalking"],"summary":"FetchPremiumSubscription africastalking","description":"Incrementally fetch your premium sms subscriptions.","operationId":"africastalking#FetchPremiumSubscription","produces":["application/json"],"parameters":[{"name":"FetchPremiumSubscriptionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingFetchPremiumSubscriptionRequestBody","required":["username","shortCode","keyword"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingFetchPremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/subscription/create":{"post":{"tags":["africastalking"],"summary":"NewPremiumSubscription africastalking","description":"Subscribe a phone number","operationId":"africastalking#NewPremiumSubscription","produces":["application/json"],"parameters":[{"name":"NewPremiumSubscriptionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingNewPremiumSubscriptionRequestBody","required":["username","shortCode","keyword","phoneNumber","checkoutToken"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingNewPremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/subscription/delete":{"post":{"tags":["africastalking"],"summary":"PurgePremiumSubscription africastalking","description":"Delete a Premium SMS Subscription","operationId":"africastalking#PurgePremiumSubscription","produces":["application/json"],"parameters":[{"name":"PurgePremiumSubscriptionRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/AfricastalkingPurgePremiumSubscriptionRequestBody","required":["username","shortCode","keyword","phoneNumber"]}}],"responses":{"201":{"description":"Created response.","schema":{"$ref":"#/definitions/AfricastalkingPurgePremiumSubscriptionResponseBody"}}},"schemes":["https"]}},"/version1/user":{"get":{"tags":["africastalking"],"summary":"InitiateAppData africastalking","description":"Initiate an application data request.","operationId":"africastalking#InitiateAppData","produces":["application/json"],"parameters":[{"name":"string","in":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/AfricastalkingInitiateAppDataResponseBody"}}},"schemes":["https"]}}},"definitions":{"AfricastalkingBankCheckoutRequestBody":{"title":"AfricastalkingBankCheckoutRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":39393,"format":"double"},"bankAccount":{"$ref":"#/definitions/BankAccountRequestBody"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"NGN"},"metadata":{"type":"object","description":"A map of any metadata that you would like us to associate with the request.","example":{"e":"ig"},"additionalProperties":true},"narration":{"type":"string","description":"Short description of the transaction displayed on the clients statement.","example":"payment for airtime"},"productName":{"type":"string","description":"Africa’s Talking Payment Product to initiate this transaction.","example":"myPaymentProductName"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"amount":39393,"bankAccount":{"accountName":"Test Bank Account","accountNumber":"1234567890","bankCode":234001,"dateOfBirth":"1976-09-20"},"currencyCode":"NGN","metadata":{"Hzm":"zuL"},"narration":"payment for airtime","productName":"myPaymentProductName","username":"MyAppUserName"},"required":["username","productName","bankAccount","currencyCode","amount","narration"]},"AfricastalkingBankCheckoutResponseBody":{"title":"Mediatype identifier: bankcheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Waiting for user input"},"status":{"type":"string","description":"This corresponds to the status of the request.","example":"PendingValidation","enum":["PendingConfirmation","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"Bank CheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"PendingValidation","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingBankCheckoutValidateRequestBody":{"title":"AfricastalkingBankCheckoutValidateRequestBody","type":"object","properties":{"otp":{"type":"string","description":"One Time Password bank sent to the client.","example":"Doloribus fugiat eos distinctio."},"transactionId":{"type":"string","description":"The ID of the transaction to be validated.","example":"Placeat dolorum magnam quod."},"username":{"type":"string","description":"Africa’s Talking application Username.","example":"Eaque sint consequatur quis praesentium."}},"example":{"otp":"Tempore non iste error aut.","transactionId":"Et debitis numquam.","username":"Nam ad adipisci voluptates ut."},"required":["username","transactionId","otp"]},"AfricastalkingBankCheckoutValidateResponseBody":{"title":"Mediatype identifier: bankcheckoutvalidateresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Payment completed successfully"},"status":{"type":"string","description":"The final status of this request.","example":"Success","enum":["Success","Failed"]}},"description":"BankCheckoutValidateResponseBody result type (default view)","example":{"description":"Payment completed successfully","status":"Success"}},"AfricastalkingBankTransferRequestBody":{"title":"AfricastalkingBankTransferRequestBody","type":"object","properties":{"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"Deleniti repellat quia quas dolorum."},"recipients":{"type":"array","items":{"$ref":"#/definitions/TransferRecipientsRequestBody"},"description":"Transfer Recipients","example":[{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."},{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."},{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."}],"minItems":1},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Porro quo."}},"example":{"productName":"Harum rerum.","recipients":[{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."},{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."},{"accountName":"Dolorum iure ut perferendis quidem facilis velit.","accountNumber":"Qui ut.","amount":"Quia adipisci laudantium similique tenetur.","bankAccount":"Fuga dolorem ea quidem.","bankCode":"Exercitationem sed repellat.","currencyCode":"Dolores nisi consequatur et quibusdam.","dateOfBirth":"Fugit maiores minus.","metadata":{"Est qui velit voluptatem.":"Consequatur maiores."},"narration":"Et alias commodi laudantium vel quibusdam."}],"username":"Necessitatibus ut."},"required":["username","productName","recipients"]},"AfricastalkingBankTransferResponseBody":{"title":"Mediatype identifier: banktransferresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/TransferEntriesResponseBody"},"description":"Transfer Entries","example":[{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"},{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"}],"minItems":1},"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API.","example":"Insufficient Credit"}},"description":"BankTransferResponseBody result type (default view)","example":{"entries":[{"accountNumber":"1234567890","errorMessage":"Insufficient Credit","status":"Queued","transactionFee":"NGN 50.00","transactionId":"ATPid_SampleTxnId"}],"errorMessage":"Insufficient Credit"}},"AfricastalkingCardCheckoutRequestBody":{"title":"AfricastalkingCardCheckoutRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":10000.5,"format":"double"},"checkoutToken":{"type":"string","description":"Token generated by AfricasTalking","example":"1234"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"NGN"},"metadata":{"type":"object","description":"Metadata associated with the request.","example":{"Foo":"Bar"},"additionalProperties":true},"narration":{"type":"string","description":"Short description of the transaction.","example":"Monthly service charge for My Online Store"},"paymentCard":{"$ref":"#/definitions/PaymentCardRequestBody"},"productName":{"type":"string","description":"Africa’s Talking Payment Product initiating transaction.","example":"myProductName"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"amount":10000.5,"checkoutToken":"1234","currencyCode":"NGN","metadata":{"Foo":"Bar"},"narration":"Monthly service charge for My Online Store","paymentCard":{"authToken":"1234","countryCode":"NG","cvvNumber":123,"expiryMonth":8,"expiryYear":2019,"number":"1234567890"},"productName":"myProductName","username":"MyAppUserName"},"required":["username","productName","currencyCode","amount","narration"]},"AfricastalkingCardCheckoutResponseBody":{"title":"Mediatype identifier: cardcheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Waiting for user input"},"status":{"type":"string","description":"The status of the request.","example":"PendingValidation","enum":["PendingConfirmation","Success","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID generated for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"CardCheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"PendingValidation","transactionId":"ATPid_SampleTxnId123"},"required":["status","description"]},"AfricastalkingCardCheckoutValidateRequestBody":{"title":"AfricastalkingCardCheckoutValidateRequestBody","type":"object","properties":{"otp":{"type":"string","description":"One Time Password card provider sent to the client.","example":"Vero voluptatum voluptatem."},"transactionId":{"type":"string","description":"ID of the transaction application wants to validate.","example":"Sapiente qui labore incidunt."},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Ad sint."}},"example":{"otp":"Sit praesentium sit voluptas quia at.","transactionId":"Dolorem dolorum eaque quia quidem.","username":"Quia nam voluptates iure harum laborum."},"required":["username","transactionId","otp"]},"AfricastalkingCardCheckoutValidateResponseBody":{"title":"Mediatype identifier: cardcheckoutvalidateresponse; view=default","type":"object","properties":{"checkoutToken":{"type":"string","description":"Token application can use to initiate subsequent charges.","example":"ATCdTkn_SampleCdTknId123"},"description":{"type":"string","description":"A detailed description of the request status.","example":"Payment completed successfully"},"status":{"type":"string","description":"Corresponds to the final status of this request.","example":"Success","enum":["Success","Failed"]}},"description":"CardCheckoutValidateResponseBody result type (default view)","example":{"checkoutToken":"ATCdTkn_SampleCdTknId123","description":"Payment completed successfully","status":"Success"},"required":["status","description"]},"AfricastalkingFetchPremiumSubscriptionRequestBody":{"title":"AfricastalkingFetchPremiumSubscriptionRequestBody","type":"object","properties":{"keyword":{"type":"string","description":"Premium keyword under short code mapped to your account.","example":""},"lastReceivedId":{"type":"string","description":"ID of the subscription you believe to be your last.","default":"0","example":"Aut neque."},"shortCode":{"type":"string","description":"Premium short code mapped to your account","example":""},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Quo assumenda et aut molestiae quos laboriosam."}},"example":{"keyword":"","lastReceivedId":"Possimus atque consequuntur ex enim.","shortCode":"","username":"Aut impedit ut in aut."},"required":["username","shortCode","keyword"]},"AfricastalkingFetchPremiumSubscriptionResponseBody":{"title":"Mediatype identifier: fetchsubresponse; view=default","type":"object","properties":{"Subscriptions":{"type":"array","items":{"$ref":"#/definitions/SubscriptionsResponseBody"},"description":"A list of subscriptions made to the product.","example":[{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"},{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"}],"minItems":1}},"description":"FetchPremiumSubscriptionResponseBody result type (default view)","example":{"Subscriptions":[{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"},{"Date":"Timestamp","id":100,"number":"+254711XXXYYY"}]}},"AfricastalkingFetchProductTransactionsRequestBody":{"title":"AfricastalkingFetchProductTransactionsRequestBody","type":"object","properties":{"category":{"type":"string","description":"Transaction category you would like to consider.","example":"BankTransfer","enum":["BankCheckout","CardCheckout","MobileCheckout","MobileC2B","MobileB2C","MobileB2B","BankTransfer","WalletTransfer","UserStashTopup"]},"count":{"type":"integer","description":"Number of transaction results you would like for this query.","example":831,"minimum":1,"maximum":1000},"destination":{"type":"string","description":"Transaction destination you would like to consider.","example":"BankAccount","enum":["PhoneNumber","BankAccount","Card","Wallet"]},"endDate":{"type":"string","description":"Transaction end date; in the format YYYY-MM-DD","example":"2014-06-26","format":"date"},"pageNumber":{"type":"integer","description":"Number of the page you’d like to read results from.","example":6134962218507510911,"minimum":1},"productName":{"type":"string","description":"Name of the payment product to fetch.","example":"MyProductName"},"provider":{"type":"string","description":"Transaction provider you would like to consider.","example":"Athena","enum":["Mpesa","Segovia","Flutterwave","Admin","Athena"]},"providerChannel":{"type":"string","description":"Transaction provider channel you would like to consider.","example":"Suscipit rerum."},"source":{"type":"string","description":"Transaction source you would like to consider.","example":"phoneNumber","enum":["phoneNumber","BankAccount","Card","Wallet"]},"startDate":{"type":"string","description":"Transaction start date; in the format YYYY-MM-DD","example":"2000-10-19","format":"date"},"status":{"type":"string","description":"Transaction status you would like to consider","example":"Success","enum":["Success","Failed"]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"category":"CardCheckout","count":804,"destination":"BankAccount","endDate":"1983-06-11","pageNumber":6909607705565140576,"productName":"MyProductName","provider":"Athena","providerChannel":"Rerum non.","source":"phoneNumber","startDate":"1996-08-17","status":"Success","username":"MyAppUserName"},"required":["username","productName","pageNumber","count"]},"AfricastalkingFetchProductTransactionsResponseBody":{"title":"Mediatype identifier: producttransactionsresponse; view=default","type":"object","properties":{"responses":{"type":"array","items":{"$ref":"#/definitions/TransactionResponseResponseBody"},"example":[{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"}]},"status":{"type":"string","description":"The status of the request.","example":"Success","enum":["Success","Failed"]}},"description":"FetchProductTransactionsResponseBody result type (default view)","example":{"responses":[{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"}],"status":"Success"}},"AfricastalkingFetchSMSRequestBody":{"title":"AfricastalkingFetchSMSRequestBody","type":"object","properties":{"lastReceivedId":{"type":"string","description":"This is the id of the message that you last processed.","default":"0","example":"Voluptatibus blanditiis."},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Qui voluptatem dolor ullam nobis libero."}},"example":{"lastReceivedId":"Neque quasi praesentium voluptas voluptas.","username":"Numquam doloribus."},"required":["username"]},"AfricastalkingFetchSMSResponseBody":{"title":"Mediatype identifier: fetchmsgresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/FetchSMSMessageDataResponseBody"}},"description":"FetchSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}]}}},"AfricastalkingFetchWalletBalanceRequestBody":{"title":"AfricastalkingFetchWalletBalanceRequestBody","type":"object","properties":{"username":{"type":"string","description":"Africa’s Talking application username","example":"MyAppUserName"}},"example":{"username":"MyAppUserName"},"required":["username"]},"AfricastalkingFetchWalletBalanceResponseBody":{"title":"Mediatype identifier: walletbalanceresponse; view=default","type":"object","properties":{"balance":{"type":"string","description":"Balance of the payment wallet. ","example":"KES 47.7191"},"errorMessage":{"type":"string","description":"A message detailing what happened with a failed request.","example":"Qui a asperiores placeat vel."},"status":{"type":"string","description":"The status of the request.","example":"Success","enum":["Success","Failed"]}},"description":"FetchWalletBalanceResponseBody result type (default view)","example":{"balance":"KES 47.7191","errorMessage":"Ipsam velit dolorem odio ut in.","status":"Success"}},"AfricastalkingFetchWalletTransactionsRequestBody":{"title":"AfricastalkingFetchWalletTransactionsRequestBody","type":"object","properties":{"categories":{"type":"string","description":"List of transaction categories you would like to consider.","example":"UserStashTopup","enum":["BankCheckout","CardCheckout","MobileCheckout","MobileC2B","MobileB2C","MobileB2B","BankTransfer","WalletTransfer","UserStashTopup"]},"count":{"type":"integer","description":"Number of transaction results you would like for this query.","example":42,"minimum":1,"maximum":1000},"endDate":{"type":"string","description":"Transaction end date; in the format YYYY-MM-DD","example":"1989-05-30","format":"date"},"pageNumber":{"type":"integer","description":"Number of the page you’d like to read results from.","example":5066038564719905990,"minimum":1},"startDate":{"type":"string","description":"Transaction start date; in the format YYYY-MM-DD","example":"1991-12-16","format":"date"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"categories":"BankCheckout","count":703,"endDate":"1983-07-15","pageNumber":6055305583022048510,"startDate":"1993-10-17","username":"MyAppUserName"},"required":["username","pageNumber","count"]},"AfricastalkingFetchWalletTransactionsResponseBody":{"title":"Mediatype identifier: wallettransactionsresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"A message detailing what happened with a failed request.","example":"Dolores sed mollitia."},"responses":{"type":"array","items":{"$ref":"#/definitions/WalletEntryResponseBody"},"description":"List of response Entry corresponding to a transaction result.","example":[{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"}]},"status":{"type":"string","description":"The status of the request","example":"Success","enum":["Success","Failed"]}},"description":"FetchWalletTransactionsResponseBody result type (default view)","example":{"errorMessage":"Autem et et tenetur ipsum vel.","responses":[{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},{"balance":"KES 47.7191","category":"MobileC2B","description":"MobileB2C Payment Request to +254708663158","transactionData":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}],"transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"}],"status":"Success"}},"AfricastalkingFindTransactionRequestBody":{"title":"AfricastalkingFindTransactionRequestBody","type":"object","properties":{"transactionId":{"type":"string","description":"ID of the transaction you would like to find.","example":"394828XXXV"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"transactionId":"394828XXXV","username":"MyAppUserName"},"required":["username","transactionId"]},"AfricastalkingFindTransactionResponseBody":{"title":"Mediatype identifier: findtransactionresponse; view=default","type":"object","properties":{"data":{"$ref":"#/definitions/TransactionResponseResponseBody"},"errorMessage":{"type":"string","description":"A message detailing what happened with a failed request.","example":"Error"},"status":{"type":"string","description":"Status of the request","example":"Success","enum":["Success","Failed"]}},"description":"FindTransactionResponseBody result type (default view)","example":{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}},"AfricastalkingGenerateRequestBody":{"title":"AfricastalkingGenerateRequestBody","type":"object","properties":{"apiKey":{"type":"string","description":"Africa's Talking API Key.","example":"Sed porro aut non accusamus id."},"username":{"type":"string","description":"Africa's Talking Username.","default":"sandbox","example":"sandbox"}},"example":{"apiKey":"Praesentium quo architecto reiciendis expedita aut at.","username":"sandbox"},"required":["username","apiKey"]},"AfricastalkingGenerateResponseBody":{"title":"Mediatype identifier: accesstokenresponse; view=default","type":"object","properties":{"lifetimeInSeconds":{"type":"integer","description":"Token Lifetime","example":3600,"format":"int64"},"token":{"type":"string","description":"Generated Auth Token.","example":"ATtkn_abcdefghijklmnopqrstuvwxyz"}},"description":"GenerateResponseBody result type (default view)","example":{"lifetimeInSeconds":3600,"token":"ATtkn_abcdefghijklmnopqrstuvwxyz"},"required":["token","lifetimeInSeconds"]},"AfricastalkingInitiateAppDataResponseBody":{"title":"Mediatype identifier: userresponse; view=default","type":"object","properties":{"UserData":{"$ref":"#/definitions/UserDataResponseBody"}},"description":"InitiateAppDataResponseBody result type (default view)","example":{"UserData":{"balance":"KES 1785.50"}}},"AfricastalkingMakeCallRequestBody":{"title":"AfricastalkingMakeCallRequestBody","type":"object","properties":{"clientRequestId":{"type":"string","description":"Variable sent to Events Callback URL used to tag the call","example":"Non necessitatibus."},"from":{"type":"string","description":"Africa’s Talking phone number","example":"Minus dolorem itaque sunt."},"to":{"type":"string","description":"A comma separated string of recipients’ phone numbers.","example":"Quisquam voluptatem et fuga occaecati exercitationem quis."},"username":{"type":"string","description":"Africa’s Talking Username","example":"Nihil doloremque repellendus."}},"example":{"clientRequestId":"Delectus voluptatem est in voluptas.","from":"Sit blanditiis aut.","to":"Impedit rerum reiciendis.","username":"Omnis quia provident aliquam perspiciatis corrupti dolor."},"required":["username","from","to"]},"AfricastalkingMakeCallResponseBody":{"title":"Mediatype identifier: makecallresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/VoiceEntryResponseBody"},"example":[{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"},{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"},{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"},{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"}]},"errorMessage":{"type":"string","description":"Error message if ENTIRE request was rejected by the API.","example":"Ut asperiores et perspiciatis."}},"description":"MakeCallResponseBody result type (default view)","example":{"entries":[{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"},{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"},{"phoneNumber":"Pariatur et iste qui itaque.","sessionId":"Illum id.","status":"InvalidPhoneNumber"}],"errorMessage":"Modi eum rerum nihil itaque."}},"AfricastalkingMobileB2BRequestBody":{"title":"AfricastalkingMobileB2BRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":3000,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code","example":"KES"},"destinationAccount":{"type":"string","description":"Account name used by the business to receive money on the provided destinationChannel.","example":"Account Name"},"destinationChannel":{"type":"string","description":"Name or number of the channel receiving payment by the provider.","example":"Buy Goods Number"},"metadata":{"type":"object","description":"A map of any metadata associated with the request.","example":{"LxLMa":"F"},"additionalProperties":true},"productName":{"type":"string","description":"Africa’s Talking Payment Product initiating transaction.","example":"myProductName"},"provider":{"type":"string","description":"Provider used to process the B2C request.","example":"Mpesa","enum":["Mpesa","TigoTanzania","Athena"]},"transferType":{"type":"string","description":"Transfer type of the payment.","example":"BusinessBuyGoods","enum":["BusinessBuyGoods","BusinessPayBill","DisburseFundsToBusiness","BusinessToBusinessTransfer"]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"amount":3000,"currencyCode":"KES","destinationAccount":"Account Name","destinationChannel":"Buy Goods Number","metadata":{"EPsD":"iJMQIJ","UyGrtd":"YNMed","r":"Czj"},"productName":"myProductName","provider":"Mpesa","transferType":"BusinessBuyGoods","username":"MyAppUserName"}},"AfricastalkingMobileB2BResponseBody":{"title":"Mediatype identifier: mobileb2bresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"A more descriptive error message for the status of this transaction.","example":"error"},"providerChannel":{"type":"string","description":"Provider channel which facilitated the payment.","example":"12345"},"status":{"type":"string","description":"The status of the B2B transaction.","example":"Queued","enum":["Queued","InvalidRequest","NotSupported","Failed"]},"transactionFee":{"type":"string","description":"Transaction fee charged by Africa’s Talking for this transaction.","example":"KES 1.00"},"transactionId":{"type":"string","description":"A unique id that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"MobileB2BResponseBody result type (default view)","example":{"errorMessage":"error","providerChannel":"12345","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123"},"required":["status"]},"AfricastalkingMobileB2CRequestBody":{"title":"AfricastalkingMobileB2CRequestBody","type":"object","properties":{"productName":{"type":"string","description":"Africa’s Talking Payment Product to initiate this transaction.","example":"myProductName"},"recipients":{"type":"array","items":{"$ref":"#/definitions/MobileRecipientsRequestBody"},"description":"A list of B2C Mobile Recipients","example":[{"amount":100.5,"currencyCode":"KES","metadata":{"OqkdMh":"RwMfHN","QawIGK":"mr"},"name":"name","phoneNumber":"+254711XXXYYY","providerChannel":"myProviderChannel","reason":"SalaryPayment"}],"minItems":1,"maxItems":10},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"productName":"myProductName","recipients":[{"amount":100.5,"currencyCode":"KES","metadata":{"OqkdMh":"RwMfHN","QawIGK":"mr"},"name":"name","phoneNumber":"+254711XXXYYY","providerChannel":"myProviderChannel","reason":"SalaryPayment"},{"amount":100.5,"currencyCode":"KES","metadata":{"OqkdMh":"RwMfHN","QawIGK":"mr"},"name":"name","phoneNumber":"+254711XXXYYY","providerChannel":"myProviderChannel","reason":"SalaryPayment"}],"username":"MyAppUserName"},"required":["username","productName","recipients"]},"AfricastalkingMobileB2CResponseBody":{"title":"Mediatype identifier: mobileb2cresponse; view=default","type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/B2CEntryResponseBody"},"description":"A list of B2C entries","example":[{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"}]},"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API","example":"Ex nihil impedit atque."},"numQueued":{"type":"integer","description":"Number of B2C transactions that were successfully queued.","example":1,"format":"int64"},"totalTransactionFee":{"type":"string","description":"Total transaction fee charged for all the transactions that were successfully queued. ","example":"KES 2.00"},"totalValue":{"type":"string","description":"Total value of all the transactions that were successfully queued.","example":"KES 100000"}},"description":"MobileB2CResponseBody result type (default view)","example":{"entries":[{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"}],"errorMessage":"Quis laborum iste aut molestiae.","numQueued":1,"totalTransactionFee":"KES 2.00","totalValue":"KES 100000"}},"AfricastalkingMobileCheckoutRequestBody":{"title":"AfricastalkingMobileCheckoutRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount client is expected to confirm.","example":3000,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"KES"},"metadata":{"type":"object","description":"Map of any metadata associates with the request","example":{"Dolore doloribus vel enim.":"Explicabo in at omnis.","Non quo sit laudantium voluptas.":"Minus et saepe iure."},"additionalProperties":true},"phoneNumber":{"type":"string","description":"Phone number of the client that will complete this transaction.","example":"+254711XXXYYY"},"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"myProductName"},"providerChannel":{"type":"string","description":"Provider channel the payment will be initiated from.","example":"myProviderChannel"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyAppUserName"}},"example":{"amount":3000,"currencyCode":"KES","metadata":{"Laboriosam minus velit.":"Tenetur est.","Qui perspiciatis.":"Provident maxime ut aut."},"phoneNumber":"+254711XXXYYY","productName":"myProductName","providerChannel":"myProviderChannel","username":"MyAppUserName"},"required":["username","productName","phoneNumber","currencyCode","amount"]},"AfricastalkingMobileCheckoutResponseBody":{"title":"Mediatype identifier: mobilecheckoutresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Detailed description of the request status.","example":"Waiting for user input"},"providerChannel":{"type":"string","description":"Provider channel used to initiate this transaction.","example":"345678"},"status":{"type":"string","description":"Status of the request","example":"PendingConfirmation","enum":["PendingConfirmation","InvalidRequest","NotSupported","Failed"]},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"MobileCheckoutResponseBody result type (default view)","example":{"description":"Waiting for user input","providerChannel":"345678","status":"PendingConfirmation","transactionId":"ATPid_SampleTxnId123"}},"AfricastalkingNewCheckoutTokenRequestBody":{"title":"AfricastalkingNewCheckoutTokenRequestBody","type":"object","properties":{"phoneNumber":{"type":"string","description":"Mobile phone number you want to create a subscription for.","example":"Distinctio fugit cum."}},"example":{"phoneNumber":"Rerum est esse veniam quod sunt facere."},"required":["phoneNumber"]},"AfricastalkingNewCheckoutTokenResponseBody":{"title":"Mediatype identifier: checkouttokenresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A description of the status of the request.","example":"Success","enum":["Success","Failed"]},"token":{"type":"string","description":"The checkout token to be used","example":"CkTkn_SampleCkTknId123"}},"description":"NewCheckoutTokenResponseBody result type (default view)","example":{"description":"Success","token":"CkTkn_SampleCkTknId123"}},"AfricastalkingNewPremiumSubscriptionRequestBody":{"title":"AfricastalkingNewPremiumSubscriptionRequestBody","type":"object","properties":{"checkoutToken":{"type":"string","description":"Token used to validate the subscription request","example":""},"keyword":{"type":"string","description":"Premium keyword under short code mapped to your account.","example":""},"phoneNumber":{"type":"string","description":"The phoneNumber to be subscribed","example":""},"shortCode":{"type":"string","description":"Premium short code mapped to your account","example":""},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Sed quibusdam molestiae ea."}},"example":{"checkoutToken":"","keyword":"","phoneNumber":"","shortCode":"","username":"Sint possimus vel."},"required":["username","shortCode","keyword","phoneNumber","checkoutToken"]},"AfricastalkingNewPremiumSubscriptionResponseBody":{"title":"Mediatype identifier: newsubresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Describes status of the create subscription request.","example":"Waiting for user input"},"status":{"type":"string","description":"Indicates whether the prompt to subscribe to shortcode was successfully raised or not.","example":"Success","enum":["Success","Failed"]}},"description":"NewPremiumSubscriptionResponseBody result type (default view)","example":{"description":"Waiting for user input","status":"Success"}},"AfricastalkingPublishIoTRequestBody":{"title":"AfricastalkingPublishIoTRequestBody","type":"object","properties":{"deviceGroup":{"type":"string","description":"Device group to which the message is to be sent","example":"Nihil dicta officia atque soluta aspernatur autem."},"payload":{"type":"string","description":"Message packet to be sent to the subscribed devices","example":"Ipsum esse ad."},"topic":{"type":"string","description":"Messaging channel to which the message is to be sent.","example":"\u003cusername\u003e/\u003cdevice-group\u003e/\u003cthe-topic\u003e"},"username":{"type":"string","description":"Africa’s Talking application username","example":"Esse eum omnis."}},"example":{"deviceGroup":"Odio non et quasi beatae.","payload":"Voluptas qui ab quam voluptas.","topic":"\u003cusername\u003e/\u003cdevice-group\u003e/\u003cthe-topic\u003e","username":"Similique maiores."},"required":["username","deviceGroup","topic","payload"]},"AfricastalkingPublishIoTResponseBody":{"title":"Mediatype identifier: iotresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Verbose response message detailing the status of the HTTP response","example":"The provided topic does not belong to the user","enum":["Message processed successfully","Publishing not allowed","The provided topic does not belong to the user"]},"status":{"type":"string","description":"Response status of the API request. ","example":"true","enum":["true","false"]}},"description":"PublishIoTResponseBody result type (default view)","example":{"description":"The provided topic does not belong to the user","status":"true"}},"AfricastalkingPurgePremiumSubscriptionRequestBody":{"title":"AfricastalkingPurgePremiumSubscriptionRequestBody","type":"object","properties":{"keyword":{"type":"string","description":"Premium keyword under short code mapped to your account.","example":""},"phoneNumber":{"type":"string","description":"The phoneNumber to be unsubscribed.","example":""},"shortCode":{"type":"string","description":"Premium short code mapped to your account","example":""},"username":{"type":"string","description":"Africa’s Talking application username.","default":"sandbox","example":"Sunt in."}},"example":{"keyword":"","phoneNumber":"","shortCode":"","username":"Cum eum omnis assumenda."},"required":["username","shortCode","keyword","phoneNumber"]},"AfricastalkingPurgePremiumSubscriptionResponseBody":{"title":"Mediatype identifier: purgesubresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"Describes status of the delete subscription request.","example":"Succeeded"},"status":{"type":"string","description":"Indicates whether the phone number was successfully unsubscribed or not.","example":"Success","enum":["Success","Failed"]}},"description":"PurgePremiumSubscriptionResponseBody result type (default view)","example":{"description":"Succeeded","status":"Success"}},"AfricastalkingSendAirtimeRequestBody":{"title":"AfricastalkingSendAirtimeRequestBody","type":"object","properties":{"recipients":{"type":"array","items":{"$ref":"#/definitions/AirtimeRecipientsRequestBody"},"example":[{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"}]},"username":{"type":"string","description":"Africa’s Talking application username.","example":"Dolore qui dolorum cum ut exercitationem nisi."}},"example":{"recipients":[{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"},{"amount ":"KES 100.50","phoneNumber":"+234811222333"}],"username":"Sint voluptatem nesciunt odit voluptatem."},"required":["username","recipients"]},"AfricastalkingSendAirtimeResponseBody":{"title":"Mediatype identifier: airtimeresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"Error message if the ENTIRE request was rejected by the API.","example":"None"},"numSent":{"type":"integer","description":"Number of requests sent to the provider","example":815849018969379249,"format":"int64"},"responses":{"type":"array","items":{"$ref":"#/definitions/AirtimeEntryResponseBody"},"example":[{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}]},"totalAmount":{"type":"string","description":"Total value of airtime sent to the provider.","example":"KES 1000.0000"},"totalDiscount":{"type":"string","description":"Total discount applied on the airtime.","example":"KES 40.0000"}},"description":"SendAirtimeResponseBody result type (default view)","example":{"errorMessage":"None","numSent":9077943107637909493,"responses":[{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"},{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}],"totalAmount":"KES 1000.0000","totalDiscount":"KES 40.0000"}},"AfricastalkingSendBulkSMSRequestBody":{"title":"AfricastalkingSendBulkSMSRequestBody","type":"object","properties":{"bulkSMSMode":{"type":"integer","description":"Used by MSP to determine who gets billed for a message","default":1,"example":4131188399238730094,"format":"int64"},"enqueue":{"type":"integer","description":"Used for Bulk SMS clients","default":1,"example":0,"enum":[0,1]},"from":{"type":"string","description":"Registered Short Code or Alphanumeric","example":"Omnis ratione quod ut magni."},"keyword":{"type":"string","description":"The keyword to be used for a premium service","example":"Quia iure sit."},"linkId":{"type":"string","description":"Used for premium services to send OnDemand messages","example":"Nihil placeat fugiat unde perferendis libero sed."},"message":{"type":"string","description":"Message to be sent","example":"Facilis similique labore quo dolorem mollitia."},"retryDurationInHours":{"type":"string","description":"No. of hours subscription message should be retried","example":"Ea et quaerat nobis doloribus repudiandae."},"to":{"type":"string","description":"Recipients’ phone numbers","example":"Tenetur temporibus qui magnam id."},"username":{"type":"string","description":"Africa’s Talking application username","example":"Et repellendus atque consectetur quis pariatur."}},"example":{"bulkSMSMode":4641846068601143510,"enqueue":0,"from":"Ducimus reiciendis.","keyword":"Est beatae fugiat.","linkId":"Saepe numquam dolorum aperiam.","message":"Tenetur rerum.","retryDurationInHours":"Voluptatem earum quo.","to":"Architecto itaque beatae soluta numquam.","username":"Inventore quam est error beatae omnis voluptatum."},"required":["username","to","message"]},"AfricastalkingSendBulkSMSResponseBody":{"title":"Mediatype identifier: bulkresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/BulkSMSMessageDataResponseBody"}},"description":"SendBulkSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}}},"AfricastalkingSendPremiumSMSRequestBody":{"title":"AfricastalkingSendPremiumSMSRequestBody","type":"object","properties":{"bulkSMSMode":{"type":"integer","description":"Used by MSP to determine who gets billed for a message","default":1,"example":1766951752251341279,"format":"int64"},"enqueue":{"type":"integer","description":"Used for Bulk SMS clients","default":1,"example":1,"enum":[0,1]},"from":{"type":"string","description":"Registered Short Code or Alphanumeric","example":"Accusantium illo natus consequuntur fugiat."},"keyword":{"type":"string","description":"The keyword to be used for a premium service","example":"Quia qui eaque."},"linkId":{"type":"string","description":"Used for premium services to send OnDemand messages","example":"Sed modi consequatur architecto et."},"message":{"type":"string","description":"Message to be sent","example":"Odit dignissimos saepe."},"retryDurationInHours":{"type":"string","description":"No. of hours subscription message should be retried","example":"Quae voluptatem dolor ut iure et."},"to":{"type":"string","description":"Recipients’ phone numbers","example":"Sunt quas."},"username":{"type":"string","description":"Africa’s Talking application username","example":"Ut quis est."}},"example":{"bulkSMSMode":4671644599186582433,"enqueue":0,"from":"Repudiandae blanditiis et architecto ut.","keyword":"Consequatur unde aut similique eveniet occaecati.","linkId":"Corporis dignissimos dolores similique.","message":"Repellat ut.","retryDurationInHours":"Voluptatem dolore non sequi odio.","to":"Vel reiciendis.","username":"Voluptatum dicta saepe voluptatibus."},"required":["username","to","message"]},"AfricastalkingSendPremiumSMSResponseBody":{"title":"Mediatype identifier: premiumresponse; view=default","type":"object","properties":{"SMSMessageData":{"$ref":"#/definitions/PremiumSMSMessageDataResponseBody"}},"description":"SendPremiumSMSResponseBody result type (default view)","example":{"SMSMessageData":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}}},"AfricastalkingTopupStashRequestBody":{"title":"AfricastalkingTopupStashRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount application will be topped up with.","example":2000,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code.","example":"KES"},"metadata":{"type":"object","description":"Metadata associated with the request.","example":{"Foo":"Bar"},"additionalProperties":true},"productName":{"type":"string","description":"Africa’s Talking Payment product initiating transaction.","example":"myProductName"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyUserName"}},"example":{"amount":2000,"currencyCode":"KES","metadata":{"Foo":"Bar"},"productName":"myProductName","username":"MyUserName"},"required":["username","productName","currencyCode","amount","metadata"]},"AfricastalkingTopupStashResponseBody":{"title":"Mediatype identifier: topupstashresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Topped up user stash. New Stash Balance: KES 1500.00"},"status":{"type":"string","description":"Corresponds to the status of the request","example":"Success","enum":["Success","Failed"]},"transactionId":{"type":"string","description":"Unique ID for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"TopupStashResponseBody result type (default view)","example":{"description":"Topped up user stash. New Stash Balance: KES 1500.00","status":"Success","transactionId":"ATPid_SampleTxnId123"},"required":["status","description"]},"AfricastalkingTransferCallRequestBody":{"title":"AfricastalkingTransferCallRequestBody","type":"object","properties":{"callLeg":{"type":"string","description":"Call leg to transfer the call to either caller or callee","default":"callee","example":"callee","enum":["caller","callee"]},"holdMusicUrl":{"type":"string","description":"The url of the media file to be played when the user is on hold.","example":"Vel est quam consequatur."},"phoneNumber":{"type":"string","description":"Phone Number to transfer the call to","example":"Et nihil earum sequi accusantium."},"sessionId":{"type":"string","description":"Session Id of the ongoing call, it must have two legs","example":"Ducimus odio placeat placeat ipsa."}},"example":{"callLeg":"caller","holdMusicUrl":"Consequuntur dolor corporis.","phoneNumber":"Est hic dolorum quia harum debitis amet.","sessionId":"Quam nostrum ut."},"required":["sessionId","phoneNumber"]},"AfricastalkingTransferCallResponseBody":{"title":"Mediatype identifier: calltransferresponse; view=default","type":"object","properties":{"errorMessage":{"type":"string","description":"Why the transfer ws aborted None is successful","example":"Atque alias."},"status":{"type":"string","description":"can be either Success or Aborted","example":"Success","enum":["Success","Aborted"]}},"description":"TransferCallResponseBody result type (default view)","example":{"errorMessage":"Excepturi ullam libero.","status":"Aborted"}},"AfricastalkingUploadMediaRequestBody":{"title":"AfricastalkingUploadMediaRequestBody","type":"object","properties":{"url":{"type":"string","description":"The url of the file to upload.","example":"Sequi temporibus."},"username":{"type":"string","description":"Your Africa’s Talking application username.","example":"Illo harum quo voluptas magni iste."}},"example":{"url":"Aut provident qui nisi.","username":"Eum quibusdam maxime dolorum ad sit."}},"AfricastalkingWalletTransferRequestBody":{"title":"AfricastalkingWalletTransferRequestBody","type":"object","properties":{"amount":{"type":"number","description":"Amount application will be topped up with.","example":2000,"format":"double"},"currencyCode":{"type":"string","description":"3-digit ISO format currency code","example":"KES"},"metadata":{"type":"object","description":"Metadata associated with the request. ","example":{"Foo":"Bar"},"additionalProperties":true},"productName":{"type":"string","description":"Africa’s Talking Payment product to initiate this transaction.","example":"myProductName"},"targetProductCode":{"type":"integer","description":"Unique product code to transfer the funds to.","example":2373,"format":"int64"},"username":{"type":"string","description":"Africa’s Talking application username.","example":"MyUserName"}},"example":{"amount":2000,"currencyCode":"KES","metadata":{"Foo":"Bar"},"productName":"myProductName","targetProductCode":2373,"username":"MyUserName"},"required":["username","productName","targetProductCode","currencyCode","amount","metadata"]},"AfricastalkingWalletTransferResponseBody":{"title":"Mediatype identifier: wallettransferresponse; view=default","type":"object","properties":{"description":{"type":"string","description":"A detailed description of the request status.","example":"Transferred funds to sandbox [TestProduct]"},"status":{"type":"string","description":"Corresponds to the status of the request.","example":"Success","enum":["Success","Failed"]},"transactionId":{"type":"string","description":"A unique id that our API generates for successful requests.","example":"ATPid_SampleTxnId123"}},"description":"WalletTransferResponseBody result type (default view)","example":{"description":"Transferred funds to sandbox [TestProduct]","status":"Success","transactionId":"ATPid_SampleTxnId123"},"required":["status","description"]},"AirtimeEntryResponseBody":{"title":"AirtimeEntryResponseBody","type":"object","properties":{"amount":{"type":"string","description":"Value of airtime requested.","example":"KES 1000.0000"},"discount":{"type":"string","description":"Discount applied to the requested airtime amount.","example":"KES 40.0000"},"errorMessage":{"type":"string","description":"Error message for the request associated to this phone number. ","example":"None"},"phoneNumber":{"type":"string","description":"Phone number for this transaction.","example":"+254711XXXYYY"},"requestId":{"type":"string","description":"Unique ID for the request associated to this phone number","example":"ATQid_1be914ac47845eef1a1dab5d89ec50ff"},"status":{"type":"string","description":"Status of the request associated to this phone number","example":"Sent","enum":["Sent","Failed"]}},"example":{"amount":"KES 1000.0000","discount":"KES 40.0000","errorMessage":"None","phoneNumber":"+254711XXXYYY","requestId":"ATQid_1be914ac47845eef1a1dab5d89ec50ff","status":"Sent"}},"AirtimeRecipientsRequestBody":{"title":"AirtimeRecipientsRequestBody","type":"object","properties":{"amount ":{"type":"string","description":"Value of airtime to send together with the currency code.","example":"KES 100.50"},"phoneNumber":{"type":"string","description":"Phone number that will be topped up.","example":"+234811222333"}},"description":"A url encoded json list of Recipients","example":{"amount ":"KES 100.50","phoneNumber":"+234811222333"}},"B2CEntryResponseBody":{"title":"B2CEntryResponseBody","type":"object","properties":{"errorMessage":{"type":"string","description":"A more descriptive error message for the status of this transaction.","example":"Insufficient Credit"},"phoneNumber":{"type":"string","description":"The phone number of the B2C transaction recipient.","example":"+254711XXXYYY"},"provider":{"type":"string","description":"Provider used to process the B2C request.","example":"Mpesa","enum":["Mpesa","Segovia","Athena"]},"providerChannel":{"type":"string","description":"Channel used to process the B2C request.","example":"525900"},"status":{"type":"string","description":"The status of the B2C transaction.","example":"Queued","enum":["Queued","InvalidRequest","NotSupported","Failed"]},"transactionFee":{"type":"string","description":"Transaction fee charged by Africa’s Talking for this transaction.","example":"KES 1.00"},"transactionId":{"type":"string","description":"Unique ID that our API generates for successful requests.","example":"ATPid_SampleTxnId123"},"value":{"type":"string","description":"Value sent to the mobile subscriber.","example":"KES 100000"}},"example":{"errorMessage":"Insufficient Credit","phoneNumber":"+254711XXXYYY","provider":"Athena","providerChannel":"525900","status":"Queued","transactionFee":"KES 1.00","transactionId":"ATPid_SampleTxnId123","value":"KES 100000"},"required":["phoneNumber","status"]},"BankAccountRequestBody":{"title":"BankAccountRequestBody","type":"object","properties":{"accountName":{"type":"string","description":"Bank account name.","example":"Test Bank Account"},"accountNumber":{"type":"string","description":"Bank account number.","example":"1234567890"},"bankCode":{"type":"integer","description":"6-Digit Integer code for the bank that we allocate.","example":234001,"format":"int64"},"dateOfBirth":{"type":"string","description":"Date of birth of the account owner.","example":"1972-04-05","format":"date"}},"example":{"accountName":"Test Bank Account","accountNumber":"1234567890","bankCode":234001,"dateOfBirth":"2005-12-24"},"required":["accountName","accountNumber","bankCode","dateOfBirth"]},"BulkSMSMessageDataResponseBody":{"title":"BulkSMSMessageDataResponseBody","type":"object","properties":{"Messages":{"type":"string","description":"A summary of the total number of recipients the sms was sent to and the total cost incurred.","example":"Sent to 1/1 Total Cost: KES 0.8000","pattern":"[a-zA-Z]+"},"Recipients":{"type":"array","items":{"$ref":"#/definitions/RecipientsResponseBody"},"description":"A list of recipients included in the original request.","example":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}],"minItems":1}},"description":"A Map detailing the eventual result of the sms request","example":{"Messages":"Sent to 1/1 Total Cost: KES 0.8000","Recipients":[{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101},{"cost":"KES 0.8000","messageId":"ATPid_SampleTxnId123","number":"+254711XXXYYY","status":"Success","statusCode":101}]}},"FetchSMSMessageDataResponseBody":{"title":"FetchSMSMessageDataResponseBody","type":"object","properties":{"Messages":{"type":"array","items":{"$ref":"#/definitions/MessagesResponseBody"},"example":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"},{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}],"minItems":1}},"example":{"Messages":[{"date":"2018-03-19T08:34:18.445Z","from":"+254711XXXYYY","id":15071,"linkId":"SampleLinkId123","text":"Hello","to":"28901"}]}},"FindTransactionResponseResponseBody":{"title":"Mediatype identifier: findtransactionresponse; view=default","type":"object","properties":{"data":{"$ref":"#/definitions/TransactionResponseResponseBody"},"errorMessage":{"type":"string","description":"A message detailing what happened with a failed request.","example":"Error"},"status":{"type":"string","description":"Status of the request","example":"Success","enum":["Success","Failed"]}},"description":"Find Transaction Query HTTP response. (default view)","example":{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}},"FindTransactionResponseResponseBodyCollection":{"title":"Mediatype identifier: findtransactionresponse; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FindTransactionResponseResponseBody"},"description":"FindTransactionResponseCollectionResponseBody is the result type for an array of FindTransactionResponseResponseBody (default view)","example":[{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"},{"data":{"category":"MobileB2C","creationTime":"2018-05-12 18:46:12","description":"The service request is processed successfully.","destination":"+254708663158","destinationType":"PhoneNumber","productName":"testing","provider":"Mpesa","providerChannel":"824879","providerMetadata":{"Foo":"Bar"},"providerRefId":"SAMPLE_MPESA_CODE","requestMetadata":{"Foo":"Bar"},"source":"PaymentWallet","sourceType":"Wallet","status":"Success","transactionDate":"12.05.2018 21:46:13","transactionFee":"KES 1.0000","transactionId":"ATPid_b9379b671fee8ccf24b2c74f94da0ceb","value":"KES 2900.0000"},"errorMessage":"Error","status":"Success"}]},"MessagesResponseBody":{"title":"MessagesResponseBody","type":"object","properties":{"date":{"type":"string","description":"The date when the sms was sent.","example":"2018-03-19T08:34:18.445Z"},"from":{"type":"string","description":"The sender’s phone number.","example":"+254711XXXYYY"},"id":{"type":"integer","description":"The id of the message.","example":15071,"f
[...]
