swagger: "2.0"
info:
  title: AfricasTalking API
  description: HTTP service for interacting with all AfricasTalking API.
  termsOfService: https://github.com/wondenge/atgo/blob/master/LICENSE
  contact:
    name: William Ondenge
    email: ondengew@gmail.com
    url: https://www.ondenge.me
  license:
    name: Apache License
    url: https://github.com/wondenge/atgo/blob/master/LICENSE
  version: "1.0"
host: api.sandbox.africastalking.com
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /auth-token/generate:
    post:
      tags:
      - africastalking
      summary: Generate africastalking
      description: Generates a valid auth token
      operationId: africastalking#Generate
      produces:
      - application/json
      parameters:
      - name: GenerateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingGenerateRequestBody'
          required:
          - username
          - apiKey
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingGenerateResponseBody'
      schemes:
      - https
  /bank/checkout/charge:
    post:
      tags:
      - africastalking
      summary: Bank Checkout africastalking
      description: Collect money into your payment wallet.
      operationId: africastalking#Bank Checkout
      produces:
      - application/json
      parameters:
      - name: Bank CheckoutRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingBankCheckoutRequestBody'
          required:
          - username
          - productName
          - bankAccount
          - currencyCode
          - amount
          - narration
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingBankCheckoutResponseBody'
      schemes:
      - https
  /bank/checkout/validate:
    post:
      tags:
      - africastalking
      summary: BankCheckoutValidate africastalking
      description: Validate a bank checkout charge request
      operationId: africastalking#BankCheckoutValidate
      produces:
      - application/json
      parameters:
      - name: BankCheckoutValidateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingBankCheckoutValidateRequestBody'
          required:
          - username
          - transactionId
          - otp
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingBankCheckoutValidateResponseBody'
      schemes:
      - https
  /bank/transfer:
    post:
      tags:
      - africastalking
      summary: BankTransfer africastalking
      description: Initiate a bank transfer request.
      operationId: africastalking#BankTransfer
      produces:
      - application/json
      parameters:
      - name: BankTransferRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingBankTransferRequestBody'
          required:
          - username
          - productName
          - recipients
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingBankTransferResponseBody'
      schemes:
      - https
  /call:
    post:
      tags:
      - africastalking
      summary: MakeCall africastalking
      description: Makes outbound calls.
      operationId: africastalking#MakeCall
      produces:
      - application/json
      parameters:
      - name: MakeCallRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingMakeCallRequestBody'
          required:
          - username
          - from
          - to
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingMakeCallResponseBody'
      schemes:
      - https
  /callTransfer:
    post:
      tags:
      - africastalking
      summary: Reject africastalking
      description: Reject an incoming call without incurring any usage charges.
      operationId: africastalking#Reject
      parameters:
      - name: RejectRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingRejectRequestBody'
      responses:
        "201":
          description: Created response.
          schema:
            type: string
      schemes:
      - https
  /card/checkout/charge:
    post:
      tags:
      - africastalking
      summary: CardCheckout africastalking
      description: Collect money into your Payment Wallet by initiating transactions that deduct money from a customers Debit or Credit Card.
      operationId: africastalking#CardCheckout
      produces:
      - application/json
      parameters:
      - name: CardCheckoutRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingCardCheckoutRequestBody'
          required:
          - username
          - productName
          - currencyCode
          - amount
          - narration
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingCardCheckoutResponseBody'
      schemes:
      - https
  /card/checkout/validate:
    post:
      tags:
      - africastalking
      summary: CardCheckoutValidate africastalking
      description: Validate card checkout charge requests
      operationId: africastalking#CardCheckoutValidate
      produces:
      - application/json
      parameters:
      - name: CardCheckoutValidateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingCardCheckoutValidateRequestBody'
          required:
          - username
          - transactionId
          - otp
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingCardCheckoutValidateResponseBody'
      schemes:
      - https
  /checkout/token/create:
    post:
      tags:
      - africastalking
      summary: NewCheckoutToken africastalking
      description: Generate a checkout token
      operationId: africastalking#NewCheckoutToken
      produces:
      - application/json
      parameters:
      - name: NewCheckoutTokenRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingNewCheckoutTokenRequestBody'
          required:
          - phoneNumber
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingNewCheckoutTokenResponseBody'
      schemes:
      - https
  /data/publish:
    post:
      tags:
      - africastalking
      summary: PublishIoT africastalking
      description: Publishes messages to remote devices.
      operationId: africastalking#PublishIoT
      produces:
      - application/json
      parameters:
      - name: PublishIoTRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingPublishIoTRequestBody'
          required:
          - username
          - deviceGroup
          - topic
          - payload
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingPublishIoTResponseBody'
      schemes:
      - https
  /mediaUpload:
    post:
      tags:
      - africastalking
      summary: UploadMedia africastalking
      description: Uploads media or audio files to Africa'sTalking servers with the extension .mp3 or .wav
      operationId: africastalking#UploadMedia
      parameters:
      - name: UploadMediaRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingUploadMediaRequestBody'
      responses:
        "201":
          description: Created response.
          schema:
            type: string
      schemes:
      - https
  /mobile/b2b/request:
    post:
      tags:
      - africastalking
      summary: MobileB2B africastalking
      description: Initiate Mobile B2B request
      operationId: africastalking#MobileB2B
      produces:
      - application/json
      parameters:
      - name: MobileB2BRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingMobileB2BRequestBody'
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingMobileB2BResponseBody'
      schemes:
      - https
  /mobile/b2c/request:
    post:
      tags:
      - africastalking
      summary: MobileB2C africastalking
      description: Initiate Mobile B2C request
      operationId: africastalking#MobileB2C
      produces:
      - application/json
      parameters:
      - name: MobileB2CRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingMobileB2CRequestBody'
          required:
          - username
          - productName
          - recipients
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingMobileB2CResponseBody'
      schemes:
      - https
  /mobile/checkout/request:
    post:
      tags:
      - africastalking
      summary: MobileCheckout africastalking
      description: Initiate Mobile C2B payments on a mobile subscriber’s device.
      operationId: africastalking#MobileCheckout
      produces:
      - application/json
      parameters:
      - name: MobileCheckoutRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingMobileCheckoutRequestBody'
          required:
          - username
          - productName
          - phoneNumber
          - currencyCode
          - amount
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingMobileCheckoutResponseBody'
      schemes:
      - https
  /query/transaction/fetch:
    get:
      tags:
      - africastalking
      summary: FetchProductTransactions africastalking
      description: Fetch transactions of a particular payment product.
      operationId: africastalking#FetchProductTransactions
      produces:
      - application/json
      parameters:
      - name: FetchProductTransactionsRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFetchProductTransactionsRequestBody'
          required:
          - username
          - productName
          - pageNumber
          - count
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFetchProductTransactionsResponseBody'
      schemes:
      - https
  /query/transaction/find:
    get:
      tags:
      - africastalking
      summary: FindTransaction africastalking
      description: Fetch transactions of a particular payment product.
      operationId: africastalking#FindTransaction
      produces:
      - application/json
      parameters:
      - name: FindTransactionRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFindTransactionRequestBody'
          required:
          - username
          - transactionId
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFindTransactionResponseBody'
      schemes:
      - https
  /query/wallet/balance:
    get:
      tags:
      - africastalking
      summary: FetchWalletBalance africastalking
      description: Fetch your wallet balance
      operationId: africastalking#FetchWalletBalance
      produces:
      - application/json
      parameters:
      - name: FetchWalletBalanceRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFetchWalletBalanceRequestBody'
          required:
          - username
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFetchWalletBalanceResponseBody'
      schemes:
      - https
  /query/wallet/fetch:
    get:
      tags:
      - africastalking
      summary: FetchWalletTransactions africastalking
      description: Fetch your wallet transactions
      operationId: africastalking#FetchWalletTransactions
      produces:
      - application/json
      parameters:
      - name: FetchWalletTransactionsRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFetchWalletTransactionsRequestBody'
          required:
          - username
          - pageNumber
          - count
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFetchWalletTransactionsResponseBody'
      schemes:
      - https
  /queueStatus:
    post:
      tags:
      - africastalking
      summary: Queue africastalking
      description: Used when you have more calls than you can handle at one time
      operationId: africastalking#Queue
      produces:
      - application/json
      parameters:
      - name: QueueRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingQueueRequestBody'
          required:
          - username
          - phoneNumbers
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingQueueResponseBody'
      schemes:
      - https
  /topup/stash:
    post:
      tags:
      - africastalking
      summary: TopupStash africastalking
      description: Move money from a Payment Product to an Africa’s Talking application stash.
      operationId: africastalking#TopupStash
      produces:
      - application/json
      parameters:
      - name: TopupStashRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingTopupStashRequestBody'
          required:
          - username
          - productName
          - currencyCode
          - amount
          - metadata
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingTopupStashResponseBody'
      schemes:
      - https
  /transfer/wallet:
    post:
      tags:
      - africastalking
      summary: WalletTransfer africastalking
      description: Transfer money from one Payment Product to another Payment Product hosted on Africa’s Talking.
      operationId: africastalking#WalletTransfer
      produces:
      - application/json
      parameters:
      - name: WalletTransferRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingWalletTransferRequestBody'
          required:
          - username
          - productName
          - targetProductCode
          - currencyCode
          - amount
          - metadata
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingWalletTransferResponseBody'
      schemes:
      - https
  /version1/airtime/send:
    post:
      tags:
      - africastalking
      summary: SendAirtime africastalking
      description: Send Airtime.
      operationId: africastalking#SendAirtime
      produces:
      - application/json
      parameters:
      - name: SendAirtimeRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingSendAirtimeRequestBody'
          required:
          - username
          - recipients
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingSendAirtimeResponseBody'
      schemes:
      - https
  /version1/messaging:
    get:
      tags:
      - africastalking
      summary: FetchSMS africastalking
      description: Incrementally fetch messages from application inbox.
      operationId: africastalking#FetchSMS
      produces:
      - application/json
      parameters:
      - name: FetchSMSRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFetchSMSRequestBody'
          required:
          - username
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFetchSMSResponseBody'
      schemes:
      - https
    post:
      tags:
      - africastalking
      summary: SendPremiumSMS africastalking
      description: Send Premium SMS
      operationId: africastalking#SendPremiumSMS
      produces:
      - application/json
      parameters:
      - name: SendPremiumSMSRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingSendPremiumSMSRequestBody'
          required:
          - username
          - to
          - message
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingSendPremiumSMSResponseBody'
      schemes:
      - https
  /version1/subscription:
    get:
      tags:
      - africastalking
      summary: FetchPremiumSubscription africastalking
      description: Incrementally fetch your premium sms subscriptions.
      operationId: africastalking#FetchPremiumSubscription
      produces:
      - application/json
      parameters:
      - name: FetchPremiumSubscriptionRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingFetchPremiumSubscriptionRequestBody'
          required:
          - username
          - shortCode
          - keyword
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingFetchPremiumSubscriptionResponseBody'
      schemes:
      - https
  /version1/subscription/create:
    post:
      tags:
      - africastalking
      summary: NewPremiumSubscription africastalking
      description: Subscribe a phone number
      operationId: africastalking#NewPremiumSubscription
      produces:
      - application/json
      parameters:
      - name: NewPremiumSubscriptionRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingNewPremiumSubscriptionRequestBody'
          required:
          - username
          - shortCode
          - keyword
          - phoneNumber
          - checkoutToken
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingNewPremiumSubscriptionResponseBody'
      schemes:
      - https
  /version1/subscription/delete:
    post:
      tags:
      - africastalking
      summary: PurgePremiumSubscription africastalking
      description: Delete a Premium SMS Subscription
      operationId: africastalking#PurgePremiumSubscription
      produces:
      - application/json
      parameters:
      - name: PurgePremiumSubscriptionRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AfricastalkingPurgePremiumSubscriptionRequestBody'
          required:
          - username
          - shortCode
          - keyword
          - phoneNumber
      responses:
        "201":
          description: Created response.
          schema:
            $ref: '#/definitions/AfricastalkingPurgePremiumSubscriptionResponseBody'
      schemes:
      - https
  /version1/user:
    get:
      tags:
      - africastalking
      summary: InitiateAppData africastalking
      description: Initiate an application data request.
      operationId: africastalking#InitiateAppData
      produces:
      - application/json
      parameters:
      - name: string
        in: body
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AfricastalkingInitiateAppDataResponseBody'
      schemes:
      - https
definitions:
  AfricastalkingBankCheckoutRequestBody:
    title: AfricastalkingBankCheckoutRequestBody
    type: object
    properties:
      amount:
        type: number
        description: Amount client is expected to confirm.
        example: 39393
        format: double
      bankAccount:
        $ref: '#/definitions/BankAccountRequestBody'
      currencyCode:
        type: string
        description: 3-digit ISO format currency code.
        example: NGN
      metadata:
        type: object
        description: A map of any metadata that you would like us to associate with the request.
        example:
          r: Czj
        additionalProperties: true
      narration:
        type: string
        description: Short description of the transaction displayed on the clients statement.
        example: payment for airtime
      productName:
        type: string
        description: Africa’s Talking Payment Product to initiate this transaction.
        example: myPaymentProductName
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      amount: 39393
      bankAccount:
        accountName: Test Bank Account
        accountNumber: "1234567890"
        bankCode: 234001
        dateOfBirth: "2006-01-15"
      currencyCode: NGN
      metadata:
        EPsD: iJMQIJ
        UyGrtd: YNMed
        bb: jVHaE
      narration: payment for airtime
      productName: myPaymentProductName
      username: MyAppUserName
    required:
    - username
    - productName
    - bankAccount
    - currencyCode
    - amount
    - narration
  AfricastalkingBankCheckoutResponseBody:
    title: 'Mediatype identifier: bankcheckoutresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: A detailed description of the request status.
        example: Waiting for user input
      status:
        type: string
        description: This corresponds to the status of the request.
        example: PendingValidation
        enum:
        - PendingConfirmation
        - InvalidRequest
        - NotSupported
        - Failed
      transactionId:
        type: string
        description: Unique ID that our API generates for successful requests.
        example: ATPid_SampleTxnId123
    description: Bank CheckoutResponseBody result type (default view)
    example:
      description: Waiting for user input
      status: PendingValidation
      transactionId: ATPid_SampleTxnId123
  AfricastalkingBankCheckoutValidateRequestBody:
    title: AfricastalkingBankCheckoutValidateRequestBody
    type: object
    properties:
      otp:
        type: string
        description: One Time Password bank sent to the client.
        example: Quidem aspernatur itaque autem omnis.
      transactionId:
        type: string
        description: The ID of the transaction to be validated.
        example: Nam quae blanditiis provident.
      username:
        type: string
        description: Africa’s Talking application Username.
        example: Enim deserunt non qui sunt.
    example:
      otp: Sed non aut rerum.
      transactionId: Et porro incidunt quia natus.
      username: Aut ex ratione sunt occaecati eligendi.
    required:
    - username
    - transactionId
    - otp
  AfricastalkingBankCheckoutValidateResponseBody:
    title: 'Mediatype identifier: bankcheckoutvalidateresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: A detailed description of the request status.
        example: Payment completed successfully
      status:
        type: string
        description: The final status of this request.
        example: Success
        enum:
        - Success
        - Failed
    description: BankCheckoutValidateResponseBody result type (default view)
    example:
      description: Payment completed successfully
      status: Success
  AfricastalkingBankTransferRequestBody:
    title: AfricastalkingBankTransferRequestBody
    type: object
    properties:
      productName:
        type: string
        description: Africa’s Talking Payment product to initiate this transaction.
        example: Ex qui.
      recipients:
        type: array
        items:
          $ref: '#/definitions/TransferRecipientsRequestBody'
        description: Transfer Recipients
        example:
        - accountName: Autem repudiandae blanditiis et architecto ut velit.
          accountNumber: Ea consequatur unde aut similique.
          amount: Voluptatem dolor ullam.
          bankAccount: Reiciendis iusto repellat.
          bankCode: Occaecati in corporis.
          currencyCode: Non sequi odio dignissimos assumenda a.
          dateOfBirth: Dolores similique id voluptatem.
          metadata:
            Doloribus commodi neque quasi.: Voluptas voluptas doloremque distinctio fugit.
          narration: Libero quo voluptatibus blanditiis.
        - accountName: Autem repudiandae blanditiis et architecto ut velit.
          accountNumber: Ea consequatur unde aut similique.
          amount: Voluptatem dolor ullam.
          bankAccount: Reiciendis iusto repellat.
          bankCode: Occaecati in corporis.
          currencyCode: Non sequi odio dignissimos assumenda a.
          dateOfBirth: Dolores similique id voluptatem.
          metadata:
            Doloribus commodi neque quasi.: Voluptas voluptas doloremque distinctio fugit.
          narration: Libero quo voluptatibus blanditiis.
        minItems: 1
      username:
        type: string
        description: Africa’s Talking application username.
        example: Tempora voluptas earum laborum eos.
    example:
      productName: Officia ullam enim sed tenetur ut.
      recipients:
      - accountName: Autem repudiandae blanditiis et architecto ut velit.
        accountNumber: Ea consequatur unde aut similique.
        amount: Voluptatem dolor ullam.
        bankAccount: Reiciendis iusto repellat.
        bankCode: Occaecati in corporis.
        currencyCode: Non sequi odio dignissimos assumenda a.
        dateOfBirth: Dolores similique id voluptatem.
        metadata:
          Doloribus commodi neque quasi.: Voluptas voluptas doloremque distinctio fugit.
        narration: Libero quo voluptatibus blanditiis.
      - accountName: Autem repudiandae blanditiis et architecto ut velit.
        accountNumber: Ea consequatur unde aut similique.
        amount: Voluptatem dolor ullam.
        bankAccount: Reiciendis iusto repellat.
        bankCode: Occaecati in corporis.
        currencyCode: Non sequi odio dignissimos assumenda a.
        dateOfBirth: Dolores similique id voluptatem.
        metadata:
          Doloribus commodi neque quasi.: Voluptas voluptas doloremque distinctio fugit.
        narration: Libero quo voluptatibus blanditiis.
      username: Et sunt similique.
    required:
    - username
    - productName
    - recipients
  AfricastalkingBankTransferResponseBody:
    title: 'Mediatype identifier: banktransferresponse; view=default'
    type: object
    properties:
      entries:
        type: array
        items:
          $ref: '#/definitions/TransferEntriesResponseBody'
        description: Transfer Entries
        example:
        - accountNumber: "1234567890"
          errorMessage: Insufficient Credit
          status: Queued
          transactionFee: NGN 50.00
          transactionId: ATPid_SampleTxnId
        - accountNumber: "1234567890"
          errorMessage: Insufficient Credit
          status: Queued
          transactionFee: NGN 50.00
          transactionId: ATPid_SampleTxnId
        - accountNumber: "1234567890"
          errorMessage: Insufficient Credit
          status: Queued
          transactionFee: NGN 50.00
          transactionId: ATPid_SampleTxnId
        minItems: 1
      errorMessage:
        type: string
        description: Error message if the ENTIRE request was rejected by the API.
        example: Insufficient Credit
    description: BankTransferResponseBody result type (default view)
    example:
      entries:
      - accountNumber: "1234567890"
        errorMessage: Insufficient Credit
        status: Queued
        transactionFee: NGN 50.00
        transactionId: ATPid_SampleTxnId
      - accountNumber: "1234567890"
        errorMessage: Insufficient Credit
        status: Queued
        transactionFee: NGN 50.00
        transactionId: ATPid_SampleTxnId
      errorMessage: Insufficient Credit
  AfricastalkingCardCheckoutRequestBody:
    title: AfricastalkingCardCheckoutRequestBody
    type: object
    properties:
      amount:
        type: number
        description: Amount client is expected to confirm.
        example: 10000.5
        format: double
      checkoutToken:
        type: string
        description: Token generated by AfricasTalking
        example: "1234"
      currencyCode:
        type: string
        description: 3-digit ISO format currency code.
        example: NGN
      metadata:
        type: object
        description: Metadata associated with the request.
        example:
          Foo: Bar
        additionalProperties: true
      narration:
        type: string
        description: Short description of the transaction.
        example: Monthly service charge for My Online Store
      paymentCard:
        $ref: '#/definitions/PaymentCardRequestBody'
      productName:
        type: string
        description: Africa’s Talking Payment Product initiating transaction.
        example: myProductName
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      amount: 10000.5
      checkoutToken: "1234"
      currencyCode: NGN
      metadata:
        Foo: Bar
      narration: Monthly service charge for My Online Store
      paymentCard:
        authToken: "1234"
        countryCode: NG
        cvvNumber: 123
        expiryMonth: 8
        expiryYear: 2019
        number: "1234567890"
      productName: myProductName
      username: MyAppUserName
    required:
    - username
    - productName
    - currencyCode
    - amount
    - narration
  AfricastalkingCardCheckoutResponseBody:
    title: 'Mediatype identifier: cardcheckoutresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: A detailed description of the request status.
        example: Waiting for user input
      status:
        type: string
        description: The status of the request.
        example: PendingValidation
        enum:
        - PendingConfirmation
        - Success
        - InvalidRequest
        - NotSupported
        - Failed
      transactionId:
        type: string
        description: Unique ID generated for successful requests.
        example: ATPid_SampleTxnId123
    description: CardCheckoutResponseBody result type (default view)
    example:
      description: Waiting for user input
      status: PendingValidation
      transactionId: ATPid_SampleTxnId123
    required:
    - status
    - description
  AfricastalkingCardCheckoutValidateRequestBody:
    title: AfricastalkingCardCheckoutValidateRequestBody
    type: object
    properties:
      otp:
        type: string
        description: One Time Password card provider sent to the client.
        example: Cumque quod officia.
      transactionId:
        type: string
        description: ID of the transaction application wants to validate.
        example: Quis est repellendus id aliquid ipsum possimus.
      username:
        type: string
        description: Africa’s Talking application username.
        example: Nisi corrupti non aliquam iure quia.
    example:
      otp: Explicabo voluptas sint ex.
      transactionId: Consequatur quidem vel soluta.
      username: Illum iste non provident quasi.
    required:
    - username
    - transactionId
    - otp
  AfricastalkingCardCheckoutValidateResponseBody:
    title: 'Mediatype identifier: cardcheckoutvalidateresponse; view=default'
    type: object
    properties:
      checkoutToken:
        type: string
        description: Token application can use to initiate subsequent charges.
        example: ATCdTkn_SampleCdTknId123
      description:
        type: string
        description: A detailed description of the request status.
        example: Payment completed successfully
      status:
        type: string
        description: Corresponds to the final status of this request.
        example: Success
        enum:
        - Success
        - Failed
    description: CardCheckoutValidateResponseBody result type (default view)
    example:
      checkoutToken: ATCdTkn_SampleCdTknId123
      description: Payment completed successfully
      status: Success
    required:
    - status
    - description
  AfricastalkingDequeueRequestBody:
    title: AfricastalkingDequeueRequestBody
    type: object
    properties:
      name:
        type: string
        example: Consequuntur voluptas natus magni aperiam delectus.
      phoneNumber:
        type: string
        example: Commodi voluptas nihil non deserunt laudantium.
    example:
      name: Vel ipsam velit dolorem odio ut.
      phoneNumber: A asperiores placeat.
  AfricastalkingDialRequestBody:
    title: AfricastalkingDialRequestBody
    type: object
    properties:
      callerId:
        type: string
        example: Omnis commodi.
      maxDuration:
        type: string
        description: This contains the maximum amount of time in seconds a call should take.
        example: Occaecati et ut doloribus porro est et.
      phoneNumbers:
        type: string
        example: Vel at eaque voluptate.
      record:
        type: string
        example: Corporis et magnam iure illo autem est.
      ringBackTone:
        type: string
        example: Eius voluptatem quo.
      sequential:
        type: string
        example: Pariatur sunt cumque.
    example:
      callerId: Ullam laborum repellendus numquam minus.
      maxDuration: Quis vel.
      phoneNumbers: Beatae tempora molestiae.
      record: In error corporis ipsa.
      ringBackTone: Nobis magni omnis.
      sequential: Deleniti repellendus et veritatis reprehenderit ea.
    required:
    - phoneNumbers
  AfricastalkingEnqueueRequestBody:
    title: AfricastalkingEnqueueRequestBody
    type: object
    properties:
      holdMusic:
        type: string
        example: Ut ut temporibus aliquam facilis magni nemo.
      name:
        type: string
        example: Eius cumque sed porro eos.
    example:
      holdMusic: Cumque quidem vitae iste qui fuga.
      name: Harum eaque.
  AfricastalkingFetchPremiumSubscriptionRequestBody:
    title: AfricastalkingFetchPremiumSubscriptionRequestBody
    type: object
    properties:
      keyword:
        type: string
        description: Premium keyword under short code mapped to your account.
        example: ""
      lastReceivedId:
        type: string
        description: ID of the subscription you believe to be your last.
        default: "0"
        example: Neque eos dolorem.
      shortCode:
        type: string
        description: Premium short code mapped to your account
        example: ""
      username:
        type: string
        description: Africa’s Talking application username.
        default: sandbox
        example: Pariatur voluptates mollitia maiores eos quisquam quis.
    example:
      keyword: ""
      lastReceivedId: Deserunt ad est ut voluptatem.
      shortCode: ""
      username: Est minima molestiae molestiae.
    required:
    - username
    - shortCode
    - keyword
  AfricastalkingFetchPremiumSubscriptionResponseBody:
    title: 'Mediatype identifier: fetchsubresponse; view=default'
    type: object
    properties:
      Subscriptions:
        type: array
        items:
          $ref: '#/definitions/SubscriptionsResponseBody'
        description: A list of subscriptions made to the product.
        example:
        - Date: Timestamp
          id: 100
          number: +254711XXXYYY
        - Date: Timestamp
          id: 100
          number: +254711XXXYYY
        - Date: Timestamp
          id: 100
          number: +254711XXXYYY
        minItems: 1
    description: FetchPremiumSubscriptionResponseBody result type (default view)
    example:
      Subscriptions:
      - Date: Timestamp
        id: 100
        number: +254711XXXYYY
      - Date: Timestamp
        id: 100
        number: +254711XXXYYY
      - Date: Timestamp
        id: 100
        number: +254711XXXYYY
  AfricastalkingFetchProductTransactionsRequestBody:
    title: AfricastalkingFetchProductTransactionsRequestBody
    type: object
    properties:
      category:
        type: string
        description: Transaction category you would like to consider.
        example: BankCheckout
        enum:
        - BankCheckout
        - CardCheckout
        - MobileCheckout
        - MobileC2B
        - MobileB2C
        - MobileB2B
        - BankTransfer
        - WalletTransfer
        - UserStashTopup
      count:
        type: integer
        description: Number of transaction results you would like for this query.
        example: 439
        minimum: 1
        maximum: 1000
      destination:
        type: string
        description: Transaction destination you would like to consider.
        example: BankAccount
        enum:
        - PhoneNumber
        - BankAccount
        - Card
        - Wallet
      endDate:
        type: string
        description: Transaction end date; in the format YYYY-MM-DD
        example: "1980-12-21"
        format: date
      pageNumber:
        type: integer
        description: Number of the page you’d like to read results from.
        example: 5747173906844293515
        minimum: 1
      productName:
        type: string
        description: Name of the payment product to fetch.
        example: MyProductName
      provider:
        type: string
        description: Transaction provider you would like to consider.
        example: Athena
        enum:
        - Mpesa
        - Segovia
        - Flutterwave
        - Admin
        - Athena
      providerChannel:
        type: string
        description: Transaction provider channel you would like to consider.
        example: Praesentium et.
      source:
        type: string
        description: Transaction source you would like to consider.
        example: phoneNumber
        enum:
        - phoneNumber
        - BankAccount
        - Card
        - Wallet
      startDate:
        type: string
        description: Transaction start date; in the format YYYY-MM-DD
        example: "1984-04-07"
        format: date
      status:
        type: string
        description: Transaction status you would like to consider
        example: Success
        enum:
        - Success
        - Failed
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      category: BankCheckout
      count: 23
      destination: BankAccount
      endDate: "1984-07-07"
      pageNumber: 3240073105779302277
      productName: MyProductName
      provider: Athena
      providerChannel: Ex illum voluptatum rerum.
      source: phoneNumber
      startDate: "1994-04-13"
      status: Success
      username: MyAppUserName
    required:
    - username
    - productName
    - pageNumber
    - count
  AfricastalkingFetchProductTransactionsResponseBody:
    title: 'Mediatype identifier: producttransactionsresponse; view=default'
    type: object
    properties:
      responses:
        type: array
        items:
          $ref: '#/definitions/TransactionResponseResponseBody'
        example:
        - category: MobileB2C
          creationTime: "2018-05-12 18:46:12"
          description: The service request is processed successfully.
          destination: "+254708663158"
          destinationType: PhoneNumber
          productName: testing
          provider: Mpesa
          providerChannel: "824879"
          providerMetadata:
            Foo: Bar
          providerRefId: SAMPLE_MPESA_CODE
          requestMetadata:
            Foo: Bar
          source: PaymentWallet
          sourceType: Wallet
          status: Success
          transactionDate: 12.05.2018 21:46:13
          transactionFee: KES 1.0000
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
        - category: MobileB2C
          creationTime: "2018-05-12 18:46:12"
          description: The service request is processed successfully.
          destination: "+254708663158"
          destinationType: PhoneNumber
          productName: testing
          provider: Mpesa
          providerChannel: "824879"
          providerMetadata:
            Foo: Bar
          providerRefId: SAMPLE_MPESA_CODE
          requestMetadata:
            Foo: Bar
          source: PaymentWallet
          sourceType: Wallet
          status: Success
          transactionDate: 12.05.2018 21:46:13
          transactionFee: KES 1.0000
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
        - category: MobileB2C
          creationTime: "2018-05-12 18:46:12"
          description: The service request is processed successfully.
          destination: "+254708663158"
          destinationType: PhoneNumber
          productName: testing
          provider: Mpesa
          providerChannel: "824879"
          providerMetadata:
            Foo: Bar
          providerRefId: SAMPLE_MPESA_CODE
          requestMetadata:
            Foo: Bar
          source: PaymentWallet
          sourceType: Wallet
          status: Success
          transactionDate: 12.05.2018 21:46:13
          transactionFee: KES 1.0000
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
      status:
        type: string
        description: The status of the request.
        example: Failed
        enum:
        - Success
        - Failed
    description: FetchProductTransactionsResponseBody result type (default view)
    example:
      responses:
      - category: MobileB2C
        creationTime: "2018-05-12 18:46:12"
        description: The service request is processed successfully.
        destination: "+254708663158"
        destinationType: PhoneNumber
        productName: testing
        provider: Mpesa
        providerChannel: "824879"
        providerMetadata:
          Foo: Bar
        providerRefId: SAMPLE_MPESA_CODE
        requestMetadata:
          Foo: Bar
        source: PaymentWallet
        sourceType: Wallet
        status: Success
        transactionDate: 12.05.2018 21:46:13
        transactionFee: KES 1.0000
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      - category: MobileB2C
        creationTime: "2018-05-12 18:46:12"
        description: The service request is processed successfully.
        destination: "+254708663158"
        destinationType: PhoneNumber
        productName: testing
        provider: Mpesa
        providerChannel: "824879"
        providerMetadata:
          Foo: Bar
        providerRefId: SAMPLE_MPESA_CODE
        requestMetadata:
          Foo: Bar
        source: PaymentWallet
        sourceType: Wallet
        status: Success
        transactionDate: 12.05.2018 21:46:13
        transactionFee: KES 1.0000
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      - category: MobileB2C
        creationTime: "2018-05-12 18:46:12"
        description: The service request is processed successfully.
        destination: "+254708663158"
        destinationType: PhoneNumber
        productName: testing
        provider: Mpesa
        providerChannel: "824879"
        providerMetadata:
          Foo: Bar
        providerRefId: SAMPLE_MPESA_CODE
        requestMetadata:
          Foo: Bar
        source: PaymentWallet
        sourceType: Wallet
        status: Success
        transactionDate: 12.05.2018 21:46:13
        transactionFee: KES 1.0000
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      status: Failed
  AfricastalkingFetchSMSRequestBody:
    title: AfricastalkingFetchSMSRequestBody
    type: object
    properties:
      lastReceivedId:
        type: string
        description: This is the id of the message that you last processed.
        default: "0"
        example: Rerum eum sed eius aut inventore corrupti.
      username:
        type: string
        description: Africa’s Talking application username.
        default: sandbox
        example: Facere minima quam provident.
    example:
      lastReceivedId: Enim eveniet consequatur quaerat nihil.
      username: Quo non esse.
    required:
    - username
  AfricastalkingFetchSMSResponseBody:
    title: 'Mediatype identifier: fetchmsgresponse; view=default'
    type: object
    properties:
      SMSMessageData:
        $ref: '#/definitions/FetchSMSMessageDataResponseBody'
    description: FetchSMSResponseBody result type (default view)
    example:
      SMSMessageData:
        Messages:
        - date: "2018-03-19T08:34:18.445Z"
          from: +254711XXXYYY
          id: 15071
          linkId: SampleLinkId123
          text: Hello
          to: "28901"
  AfricastalkingFetchWalletBalanceRequestBody:
    title: AfricastalkingFetchWalletBalanceRequestBody
    type: object
    properties:
      username:
        type: string
        description: Africa’s Talking application username
        example: MyAppUserName
    example:
      username: MyAppUserName
    required:
    - username
  AfricastalkingFetchWalletBalanceResponseBody:
    title: 'Mediatype identifier: walletbalanceresponse; view=default'
    type: object
    properties:
      balance:
        type: string
        description: 'Balance of the payment wallet. '
        example: KES 47.7191
      errorMessage:
        type: string
        description: A message detailing what happened with a failed request.
        example: Suscipit reprehenderit rerum molestias.
      status:
        type: string
        description: The status of the request.
        example: Success
        enum:
        - Success
        - Failed
    description: FetchWalletBalanceResponseBody result type (default view)
    example:
      balance: KES 47.7191
      errorMessage: Tenetur voluptate commodi qui magni.
      status: Success
  AfricastalkingFetchWalletTransactionsRequestBody:
    title: AfricastalkingFetchWalletTransactionsRequestBody
    type: object
    properties:
      categories:
        type: string
        description: List of transaction categories you would like to consider.
        example: MobileCheckout
        enum:
        - BankCheckout
        - CardCheckout
        - MobileCheckout
        - MobileC2B
        - MobileB2C
        - MobileB2B
        - BankTransfer
        - WalletTransfer
        - UserStashTopup
      count:
        type: integer
        description: Number of transaction results you would like for this query.
        example: 44
        minimum: 1
        maximum: 1000
      endDate:
        type: string
        description: Transaction end date; in the format YYYY-MM-DD
        example: "1996-05-25"
        format: date
      pageNumber:
        type: integer
        description: Number of the page you’d like to read results from.
        example: 8109017080281066971
        minimum: 1
      startDate:
        type: string
        description: Transaction start date; in the format YYYY-MM-DD
        example: "1977-03-17"
        format: date
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      categories: MobileB2C
      count: 179
      endDate: "2009-04-25"
      pageNumber: 5368150092986106529
      startDate: "1998-07-16"
      username: MyAppUserName
    required:
    - username
    - pageNumber
    - count
  AfricastalkingFetchWalletTransactionsResponseBody:
    title: 'Mediatype identifier: wallettransactionsresponse; view=default'
    type: object
    properties:
      errorMessage:
        type: string
        description: A message detailing what happened with a failed request.
        example: Velit assumenda.
      responses:
        type: array
        items:
          $ref: '#/definitions/WalletEntryResponseBody'
        description: List of response Entry corresponding to a transaction result.
        example:
        - balance: KES 47.7191
          category: MobileCheckout
          description: MobileB2C Payment Request to +254708663158
          transactionData:
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
        - balance: KES 47.7191
          category: MobileCheckout
          description: MobileB2C Payment Request to +254708663158
          transactionData:
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
        - balance: KES 47.7191
          category: MobileCheckout
          description: MobileB2C Payment Request to +254708663158
          transactionData:
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          - data:
              category: MobileB2C
              creationTime: "2018-05-12 18:46:12"
              description: The service request is processed successfully.
              destination: "+254708663158"
              destinationType: PhoneNumber
              productName: testing
              provider: Mpesa
              providerChannel: "824879"
              providerMetadata:
                Foo: Bar
              providerRefId: SAMPLE_MPESA_CODE
              requestMetadata:
                Foo: Bar
              source: PaymentWallet
              sourceType: Wallet
              status: Success
              transactionDate: 12.05.2018 21:46:13
              transactionFee: KES 1.0000
              transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
              value: KES 2900.0000
            errorMessage: Error
            status: Success
          transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
          value: KES 2900.0000
      status:
        type: string
        description: The status of the request
        example: Success
        enum:
        - Success
        - Failed
    description: FetchWalletTransactionsResponseBody result type (default view)
    example:
      errorMessage: Delectus repellendus.
      responses:
      - balance: KES 47.7191
        category: MobileCheckout
        description: MobileB2C Payment Request to +254708663158
        transactionData:
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      - balance: KES 47.7191
        category: MobileCheckout
        description: MobileB2C Payment Request to +254708663158
        transactionData:
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      - balance: KES 47.7191
        category: MobileCheckout
        description: MobileB2C Payment Request to +254708663158
        transactionData:
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      - balance: KES 47.7191
        category: MobileCheckout
        description: MobileB2C Payment Request to +254708663158
        transactionData:
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        - data:
            category: MobileB2C
            creationTime: "2018-05-12 18:46:12"
            description: The service request is processed successfully.
            destination: "+254708663158"
            destinationType: PhoneNumber
            productName: testing
            provider: Mpesa
            providerChannel: "824879"
            providerMetadata:
              Foo: Bar
            providerRefId: SAMPLE_MPESA_CODE
            requestMetadata:
              Foo: Bar
            source: PaymentWallet
            sourceType: Wallet
            status: Success
            transactionDate: 12.05.2018 21:46:13
            transactionFee: KES 1.0000
            transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
            value: KES 2900.0000
          errorMessage: Error
          status: Success
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      status: Success
  AfricastalkingFindTransactionRequestBody:
    title: AfricastalkingFindTransactionRequestBody
    type: object
    properties:
      transactionId:
        type: string
        description: ID of the transaction you would like to find.
        example: 394828XXXV
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      transactionId: 394828XXXV
      username: MyAppUserName
    required:
    - username
    - transactionId
  AfricastalkingFindTransactionResponseBody:
    title: 'Mediatype identifier: findtransactionresponse; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/TransactionResponseResponseBody'
      errorMessage:
        type: string
        description: A message detailing what happened with a failed request.
        example: Error
      status:
        type: string
        description: Status of the request
        example: Success
        enum:
        - Success
        - Failed
    description: FindTransactionResponseBody result type (default view)
    example:
      data:
        category: MobileB2C
        creationTime: "2018-05-12 18:46:12"
        description: The service request is processed successfully.
        destination: "+254708663158"
        destinationType: PhoneNumber
        productName: testing
        provider: Mpesa
        providerChannel: "824879"
        providerMetadata:
          Foo: Bar
        providerRefId: SAMPLE_MPESA_CODE
        requestMetadata:
          Foo: Bar
        source: PaymentWallet
        sourceType: Wallet
        status: Success
        transactionDate: 12.05.2018 21:46:13
        transactionFee: KES 1.0000
        transactionId: ATPid_b9379b671fee8ccf24b2c74f94da0ceb
        value: KES 2900.0000
      errorMessage: Error
      status: Success
  AfricastalkingGenerateRequestBody:
    title: AfricastalkingGenerateRequestBody
    type: object
    properties:
      apiKey:
        type: string
        description: Africa's Talking API Key.
        example: Quo molestiae iure labore totam incidunt.
      username:
        type: string
        description: Africa's Talking Username.
        default: sandbox
        example: sandbox
    example:
      apiKey: Voluptatibus omnis vero omnis consequuntur facilis voluptas.
      username: sandbox
    required:
    - username
    - apiKey
  AfricastalkingGenerateResponseBody:
    title: 'Mediatype identifier: accesstokenresponse; view=default'
    type: object
    properties:
      lifetimeInSeconds:
        type: integer
        description: Token Lifetime
        example: 3600
        format: int64
      token:
        type: string
        description: Generated Auth Token.
        example: ATtkn_abcdefghijklmnopqrstuvwxyz
    description: GenerateResponseBody result type (default view)
    example:
      lifetimeInSeconds: 3600
      token: ATtkn_abcdefghijklmnopqrstuvwxyz
    required:
    - token
    - lifetimeInSeconds
  AfricastalkingGetDigitsRequestBody:
    title: AfricastalkingGetDigitsRequestBody
    type: object
    properties:
      callbackUrl:
        type: string
        description: 'Instructs AT to forward results of the GetDigits action to the URL value passed in. '
        example: A et voluptatem iste aspernatur eum numquam.
      finishOnKey:
        type: string
        description: The key which will terminate the action of getting digits.
        example: Rerum non.
      numDigits:
        type: string
        description: This shows the number of digits you would like to grab from the user input.
        example: Incidunt quibusdam non et et quam.
      timeout:
        type: string
        description: Timeout (in seconds) for getting the digits, after which the system moves on to the next element.
        example: Qui excepturi delectus quia totam corrupti dolor.
    example:
      callbackUrl: Ratione aut dignissimos odio dolores sed mollitia.
      finishOnKey: Quos consequatur fugit aut repellat ipsam.
      numDigits: Quod autem et et tenetur ipsum vel.
      timeout: Harum facilis delectus dolores non ratione harum.
  AfricastalkingInitiateAppDataResponseBody:
    title: 'Mediatype identifier: userresponse; view=default'
    type: object
    properties:
      UserData:
        $ref: '#/definitions/UserDataResponseBody'
    description: InitiateAppDataResponseBody result type (default view)
    example:
      UserData:
        balance: KES 1785.50
  AfricastalkingMakeCallRequestBody:
    title: AfricastalkingMakeCallRequestBody
    type: object
    properties:
      clientRequestId:
        type: string
        description: Variable sent to Events Callback URL used to tag the call
        example: Soluta aliquam perspiciatis.
      from:
        type: string
        description: Africa’s Talking phone number
        example: Quia quidem consequatur sit praesentium.
      to:
        type: string
        description: A comma separated string of recipients’ phone numbers.
        example: Voluptas quia at dolorem cum eius.
      username:
        type: string
        description: Africa’s Talking Username
        example: Iure harum laborum veritatis dolorem dolorum.
    example:
      clientRequestId: Consequatur nesciunt explicabo nihil enim laborum odit.
      from: Nostrum aut tempora quisquam voluptas sunt saepe.
      to: Est velit ut.
      username: Non quisquam.
    required:
    - username
    - from
    - to
  AfricastalkingMakeCallResponseBody:
    title: 'Mediatype identifier: makecallresponse; view=default'
    type: object
    properties:
      entries:
        type: array
        items:
          $ref: '#/definitions/VoiceEntryResponseBody'
        example:
        - phoneNumber: Vel fugit maiores minus aut dolores nisi.
          sessionId: Quibusdam corporis quia adipisci laudantium similique.
          status: DestinationNotSupported
        - phoneNumber: Vel fugit maiores minus aut dolores nisi.
          sessionId: Quibusdam corporis quia adipisci laudantium similique.
          status: DestinationNotSupported
        - phoneNumber: Vel fugit maiores minus aut dolores nisi.
          sessionId: Quibusdam corporis quia adipisci laudantium similique.
          status: DestinationNotSupported
        - phoneNumber: Vel fugit maiores minus aut dolores nisi.
          sessionId: Quibusdam corporis quia adipisci laudantium similique.
          status: DestinationNotSupported
      errorMessage:
        type: string
        description: Error message if ENTIRE request was rejected by the API.
        example: Numquam sapiente qui labore incidunt.
    description: MakeCallResponseBody result type (default view)
    example:
      entries:
      - phoneNumber: Vel fugit maiores minus aut dolores nisi.
        sessionId: Quibusdam corporis quia adipisci laudantium similique.
        status: DestinationNotSupported
      - phoneNumber: Vel fugit maiores minus aut dolores nisi.
        sessionId: Quibusdam corporis quia adipisci laudantium similique.
        status: DestinationNotSupported
      - phoneNumber: Vel fugit maiores minus aut dolores nisi.
        sessionId: Quibusdam corporis quia adipisci laudantium similique.
        status: DestinationNotSupported
      errorMessage: Voluptatum voluptatem amet quia nam.
  AfricastalkingMobileB2BRequestBody:
    title: AfricastalkingMobileB2BRequestBody
    type: object
    properties:
      amount:
        type: number
        description: Amount client is expected to confirm.
        example: 3000
        format: double
      currencyCode:
        type: string
        description: 3-digit ISO format currency code
        example: KES
      destinationAccount:
        type: string
        description: Account name used by the business to receive money on the provided destinationChannel.
        example: Account Name
      destinationChannel:
        type: string
        description: Name or number of the channel receiving payment by the provider.
        example: Buy Goods Number
      metadata:
        type: object
        description: A map of any metadata associated with the request.
        example:
          cr: XbH
          ws: EangZ
        additionalProperties: true
      productName:
        type: string
        description: Africa’s Talking Payment Product initiating transaction.
        example: myProductName
      provider:
        type: string
        description: Provider used to process the B2C request.
        example: Mpesa
        enum:
        - Mpesa
        - TigoTanzania
        - Athena
      transferType:
        type: string
        description: Transfer type of the payment.
        example: BusinessBuyGoods
        enum:
        - BusinessBuyGoods
        - BusinessPayBill
        - DisburseFundsToBusiness
        - BusinessToBusinessTransfer
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      amount: 3000
      currencyCode: KES
      destinationAccount: Account Name
      destinationChannel: Buy Goods Number
      metadata:
        M: ZfCjbd
        tbJe: PuoN
      productName: myProductName
      provider: Mpesa
      transferType: BusinessBuyGoods
      username: MyAppUserName
  AfricastalkingMobileB2BResponseBody:
    title: 'Mediatype identifier: mobileb2bresponse; view=default'
    type: object
    properties:
      errorMessage:
        type: string
        description: A more descriptive error message for the status of this transaction.
        example: error
      providerChannel:
        type: string
        description: Provider channel which facilitated the payment.
        example: "12345"
      status:
        type: string
        description: The status of the B2B transaction.
        example: Queued
        enum:
        - Queued
        - InvalidRequest
        - NotSupported
        - Failed
      transactionFee:
        type: string
        description: Transaction fee charged by Africa’s Talking for this transaction.
        example: KES 1.00
      transactionId:
        type: string
        description: A unique id that our API generates for successful requests.
        example: ATPid_SampleTxnId123
    description: MobileB2BResponseBody result type (default view)
    example:
      errorMessage: error
      providerChannel: "12345"
      status: Queued
      transactionFee: KES 1.00
      transactionId: ATPid_SampleTxnId123
    required:
    - status
  AfricastalkingMobileB2CRequestBody:
    title: AfricastalkingMobileB2CRequestBody
    type: object
    properties:
      productName:
        type: string
        description: Africa’s Talking Payment Product to initiate this transaction.
        example: myProductName
      recipients:
        type: array
        items:
          $ref: '#/definitions/MobileRecipientsRequestBody'
        description: A list of B2C Mobile Recipients
        example:
        - amount: 100.5
          currencyCode: KES
          metadata:
            ikMx: zrfwuf
          name: name
          phoneNumber: +254711XXXYYY
          providerChannel: myProviderChannel
          reason: SalaryPayment
        minItems: 1
        maxItems: 10
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      productName: myProductName
      recipients:
      - amount: 100.5
        currencyCode: KES
        metadata:
          ikMx: zrfwuf
        name: name
        phoneNumber: +254711XXXYYY
        providerChannel: myProviderChannel
        reason: SalaryPayment
      - amount: 100.5
        currencyCode: KES
        metadata:
          ikMx: zrfwuf
        name: name
        phoneNumber: +254711XXXYYY
        providerChannel: myProviderChannel
        reason: SalaryPayment
      username: MyAppUserName
    required:
    - username
    - productName
    - recipients
  AfricastalkingMobileB2CResponseBody:
    title: 'Mediatype identifier: mobileb2cresponse; view=default'
    type: object
    properties:
      entries:
        type: array
        items:
          $ref: '#/definitions/B2CEntryResponseBody'
        description: A list of B2C entries
        example:
        - errorMessage: Insufficient Credit
          phoneNumber: +254711XXXYYY
          provider: Mpesa
          providerChannel: "525900"
          status: Queued
          transactionFee: KES 1.00
          transactionId: ATPid_SampleTxnId123
          value: KES 100000
        - errorMessage: Insufficient Credit
          phoneNumber: +254711XXXYYY
          provider: Mpesa
          providerChannel: "525900"
          status: Queued
          transactionFee: KES 1.00
          transactionId: ATPid_SampleTxnId123
          value: KES 100000
        - errorMessage: Insufficient Credit
          phoneNumber: +254711XXXYYY
          provider: Mpesa
          providerChannel: "525900"
          status: Queued
          transactionFee: KES 1.00
          transactionId: ATPid_SampleTxnId123
          value: KES 100000
        - errorMessage: Insufficient Credit
          phoneNumber: +254711XXXYYY
          provider: Mpesa
          providerChannel: "525900"
          status: Queued
          transactionFee: KES 1.00
          transactionId: ATPid_SampleTxnId123
          value: KES 100000
      errorMessage:
        type: string
        description: Error message if the ENTIRE request was rejected by the API
        example: Ab quam voluptas et.
      numQueued:
        type: integer
        description: Number of B2C transactions that were successfully queued.
        example: 1
        format: int64
      totalTransactionFee:
        type: string
        description: 'Total transaction fee charged for all the transactions that were successfully queued. '
        example: KES 2.00
      totalValue:
        type: string
        description: Total value of all the transactions that were successfully queued.
        example: KES 100000
    description: MobileB2CResponseBody result type (default view)
    example:
      entries:
      - errorMessage: Insufficient Credit
        phoneNumber: +254711XXXYYY
        provider: Mpesa
        providerChannel: "525900"
        status: Queued
        transactionFee: KES 1.00
        transactionId: ATPid_SampleTxnId123
        value: KES 100000
      - errorMessage: Insufficient Credit
        phoneNumber: +254711XXXYYY
        provider: Mpesa
        providerChannel: "525900"
        status: Queued
        transactionFee: KES 1.00
        transactionId: ATPid_SampleTxnId123
        value: KES 100000
      errorMessage: Aut non accusamus id qui praesentium.
      numQueued: 1
      totalTransactionFee: KES 2.00
      totalValue: KES 100000
  AfricastalkingMobileCheckoutRequestBody:
    title: AfricastalkingMobileCheckoutRequestBody
    type: object
    properties:
      amount:
        type: number
        description: Amount client is expected to confirm.
        example: 3000
        format: double
      currencyCode:
        type: string
        description: 3-digit ISO format currency code.
        example: KES
      metadata:
        type: object
        description: Map of any metadata associates with the request
        example:
          Omnis quas nihil dicta officia atque soluta.: Autem facilis ipsum esse ad.
          Voluptatem nesciunt odit voluptatem quasi.: Laborum suscipit et rerum esse.
        additionalProperties: true
      phoneNumber:
        type: string
        description: Phone number of the client that will complete this transaction.
        example: +254711XXXYYY
      productName:
        type: string
        description: Africa’s Talking Payment product to initiate this transaction.
        example: myProductName
      providerChannel:
        type: string
        description: Provider channel the payment will be initiated from.
        example: myProviderChannel
      username:
        type: string
        description: Africa’s Talking application username.
        example: MyAppUserName
    example:
      amount: 3000
      currencyCode: KES
      metadata:
        Maiores dolores.: Non et quasi.
      phoneNumber: +254711XXXYYY
      productName: myProductName
      providerChannel: myProviderChannel
      username: MyAppUserName
    required:
    - username
    - productName
    - phoneNumber
    - currencyCode
    - amount
  AfricastalkingMobileCheckoutResponseBody:
    title: 'Mediatype identifier: mobilecheckoutresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: Detailed description of the request status.
        example: Waiting for user input
      providerChannel:
        type: string
        description: Provider channel used to initiate this transaction.
        example: "345678"
      status:
        type: string
        description: Status of the request
        example: PendingConfirmation
        enum:
        - PendingConfirmation
        - InvalidRequest
        - NotSupported
        - Failed
      transactionId:
        type: string
        description: Unique ID that our API generates for successful requests.
        example: ATPid_SampleTxnId123
    description: MobileCheckoutResponseBody result type (default view)
    example:
      description: Waiting for user input
      providerChannel: "345678"
      status: PendingConfirmation
      transactionId: ATPid_SampleTxnId123
  AfricastalkingNewCheckoutTokenRequestBody:
    title: AfricastalkingNewCheckoutTokenRequestBody
    type: object
    properties:
      phoneNumber:
        type: string
        description: Mobile phone number you want to create a subscription for.
        example: Et labore voluptatem perspiciatis eius.
    example:
      phoneNumber: Ratione tempore eum.
    required:
    - phoneNumber
  AfricastalkingNewCheckoutTokenResponseBody:
    title: 'Mediatype identifier: checkouttokenresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: A description of the status of the request.
        example: Success
        enum:
        - Success
        - Failed
      token:
        type: string
        description: The checkout token to be used
        example: CkTkn_SampleCkTknId123
    description: NewCheckoutTokenResponseBody result type (default view)
    example:
      description: Success
      token: CkTkn_SampleCkTknId123
  AfricastalkingNewPremiumSubscriptionRequestBody:
    title: AfricastalkingNewPremiumSubscriptionRequestBody
    type: object
    properties:
      checkoutToken:
        type: string
        description: Token used to validate the subscription request
        example: ""
      keyword:
        type: string
        description: Premium keyword under short code mapped to your account.
        example: ""
      phoneNumber:
        type: string
        description: The phoneNumber to be subscribed
        example: ""
      shortCode:
        type: string
        description: Premium short code mapped to your account
        example: ""
      username:
        type: string
        description: Africa’s Talking application username.
        default: sandbox
        example: Odit praesentium voluptas dignissimos eius doloremque.
    example:
      checkoutToken: ""
      keyword: ""
      phoneNumber: ""
      shortCode: ""
      username: Ut iste qui quia repellat explicabo.
    required:
    - username
    - shortCode
    - keyword
    - phoneNumber
    - checkoutToken
  AfricastalkingNewPremiumSubscriptionResponseBody:
    title: 'Mediatype identifier: newsubresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: Describes status of the create subscription request.
        example: Waiting for user input
      status:
        type: string
        description: Indicates whether the prompt to subscribe to shortcode was successfully raised or not.
        example: Success
        enum:
        - Success
        - Failed
    description: NewPremiumSubscriptionResponseBody result type (default view)
    example:
      description: Waiting for user input
      status: Success
  AfricastalkingPlayRequestBody:
    title: AfricastalkingPlayRequestBody
    type: object
    properties:
      url:
        type: string
        description: A valid URL that contains a link to the file to be played.
        example: Quo ut quae.
    example:
      url: Beatae repellat rem et quaerat.
    required:
    - url
  AfricastalkingPublishIoTRequestBody:
    title: AfricastalkingPublishIoTRequestBody
    type: object
    properties:
      deviceGroup:
        type: string
        description: Device group to which the message is to be sent
        example: Hic rem mollitia architecto aut magnam.
      payload:
        type: string
        description: Message packet to be sent to the subscribed devices
        example: Itaque autem facilis.
      topic:
        type: string
        description: Messaging channel to which the message is to be sent.
        example: <username>/<device-group>/<the-topic>
      username:
        type: string
        description: Africa’s Talking application username
        example: Sit consequatur distinctio omnis temporibus.
    example:
      deviceGroup: Rerum et.
      payload: Facere sed doloribus.
      topic: <username>/<device-group>/<the-topic>
      username: Aut suscipit suscipit provident consequuntur quia.
    required:
    - username
    - deviceGroup
    - topic
    - payload
  AfricastalkingPublishIoTResponseBody:
    title: 'Mediatype identifier: iotresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: Verbose response message detailing the status of the HTTP response
        example: Publishing not allowed
        enum:
        - Message processed successfully
        - Publishing not allowed
        - The provided topic does not belong to the user
      status:
        type: string
        description: 'Response status of the API request. '
        example: "true"
        enum:
        - "true"
        - "false"
    description: PublishIoTResponseBody result type (default view)
    example:
      description: Publishing not allowed
      status: "true"
  AfricastalkingPurgePremiumSubscriptionRequestBody:
    title: AfricastalkingPurgePremiumSubscriptionRequestBody
    type: object
    properties:
      keyword:
        type: string
        description: Premium keyword under short code mapped to your account.
        example: ""
      phoneNumber:
        type: string
        description: The phoneNumber to be unsubscribed.
        example: ""
      shortCode:
        type: string
        description: Premium short code mapped to your account
        example: ""
      username:
        type: string
        description: Africa’s Talking application username.
        default: sandbox
        example: Quia omnis sed.
    example:
      keyword: ""
      phoneNumber: ""
      shortCode: ""
      username: Id enim ut a aut.
    required:
    - username
    - shortCode
    - keyword
    - phoneNumber
  AfricastalkingPurgePremiumSubscriptionResponseBody:
    title: 'Mediatype identifier: purgesubresponse; view=default'
    type: object
    properties:
      description:
        type: string
        description: Describes status of the delete subscription request.
        example: Succeeded
      status:
        type: string
        description: Indicates whether the phone number was successfully unsubscribed or not.
        example: Success
        enum:
        - Success
        - Failed
    description: PurgePremiumSubscriptionResponseBody result type (default view)
    example:
      description: Succeeded
      status: Success
  AfricastalkingQueueRequestBody:
    title: AfricastalkingQueueRequestBody
    type: object
    properties:
      phoneNumbers:
        type: string
        description: List of one or more numbers mapped to your Africa’s Talking account.
        example: Et et eum corrupti aliquid saepe.
      username:
        type: string
        description: Your Africa’s Talking application username.
        example: Autem nisi quos non amet temporibus.
    example:
      phoneNumbers: Id quas.
      username: Neque quia recusandae recusandae aliquid ut eligendi.
    required:
    - username
    - phoneNumbers
  AfricastalkingQueueResponseBody:
    title: 'Mediatype identifier: queuedstatusresult; view=default'
    type: object
    properties:
      Entries:
        type: array
        items:
          $ref: '#/definitions/QueuedStatusEntryResponseBody'
        example:
[...]
